@model IEnumerable<ATSManagement.Models.TblFollowup>
@using ATSManagement.Services;
@inject LanguageService _localization
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = @_localization.Getkey("followups");
}

<style type="text/css">
    .table thead th {
        text-transform: capitalize !important;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: .825rem !important;
        font-weight: bolder;
    }

    /* Chat containers */
    .container {
        border: 2px solid #dedede;
        background-color: #f1f1f1;
        border-radius: 5px;
        padding: 10px;
        margin: 10px 0;
    }

    /* Darker chat container */
    .darker {
        border-color: #ccc;
        background-color: #ddd;
    }

    /* Clear floats */
    .container::after {
        content: "";
        clear: both;
        display: table;
    }

    /* Style images */
    .container img {
        float: left;
        max-width: 60px;
        width: 100%;
        margin-right: 0px;
        border-radius: 50%;
    }

        /* Style the right image */
        .container img.right {
            float: right;
            margin-left: 0px;
            margin-right: 0;
        }

    /* Style time text */
    .time-right {
        float: right;
        color: #aaa;
    }

    /* Style time text */
    .time-left {
        float: left;
        color: #999;
    }
</style>
<div class="page-wrapper">
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <h2 class="page-title">
                        @_localization.Getkey("followups")
                    </h2>
                </div>
                <div class="col-auto ms-auto d-print-none">
                    <div class="btn-list">
                        <a asp-action="Create" asp-controller="Followups" asp-route-RequestId="@ViewBag.id" class="btn btn-primary d-none d-sm-inline-block">
                            <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M12 5l0 14" /><path d="M5 12l14 0" /></svg>
                            @_localization.Getkey("CreateNew")
                        </a>
                        <a href="#" class="btn btn-primary d-sm-none btn-icon" data-bs-toggle="modal" data-bs-target="#modal-report" aria-label="Create new report">
                            <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M12 5l0 14" /><path d="M5 12l14 0" /></svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">@_localization.Getkey("followups")</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    @foreach (var item in Model)
                    {
                        if (item.FromInternal == true)
                        {
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-md-6">
                                    </div>
                                    <div class="col-md-6">
                                        <div class="container">
                                            <h3 class="time-left" style="color:dodgerblue">@_localization.Getkey("you")</h3>
                                            <br />
                                            <p class="time-left">
                                                @Html.Raw(@item.Message)
                                                <br />
                                                <span class="time-left">@item.CreatedDate</span>
                                                @if (item.Attachment != null)
                                                {
                                                    <a class="btn btn-primary time-left" asp-controller="DocumentViewer" asp-action="DocumentViewer" asp-route-path="@item.Attachment">View file</a>
                                                }
                                            </p>
                                            <br />
                                            <a class="dropdown-item" asp-action="Edit" asp-route-id="@item.FollowUpId">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-pencil-plus" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                    <path d="M4 20h4l10.5 -10.5a2.828 2.828 0 1 0 -4 -4l-10.5 10.5v4"></path>
                                                    <path d="M13.5 6.5l4 4"></path>
                                                    <path d="M16 19h6"></path>
                                                    <path d="M19 16v6"></path>
                                                </svg>&nbsp;  @_localization.Getkey("edit")
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        }
                        if (item.FromExternal == true)
                        {
                            <div class="col-12">
                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="container">
                                            <h3 class="time-left" style="color:dodgerblue">(@item.ExternalUser.FirstName)</h3>
                                            <br />
                                            <div class="time-left">
                                                <span class="time-left">@Html.Raw(@item.Message)</span>
                                                <br />
                                                <span class="time-left">@item.CreatedDate</span>
                                                @if (item.Attachment != null)
                                                {
                                                    <a class="btn btn-primary time-left" asp-controller="DocumentViewer" asp-action="DocumentViewer" asp-route-path="@item.Attachment">@_localization.Getkey("view_file")</a>
                                                }

                                            </div>
                                            <br />
                                        </div>
                                    </div>
                                    <div class="col-md-6">

                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>

