@model ATSManagement.Models.TblInspectionLaw
@using ATSManagement.Services;
@inject LanguageService _localization
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = @_localization.Getkey("inspection_laws") + ":Edit";
}

<!-- Page header -->
<div class="page-wrapper">
    <!-- Page header -->
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <h2 class="page-title">
                        @_localization.Getkey("inspection_laws")
                    </h2>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12">
        <div class="card">
            <div class="card-header">
            </div>
            <form asp-action="Edit">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="LawId" />
                            <div class="mb-3 row">
                                <label asp-for="LawDescription" class="col-3 col-form-label"> @_localization.Getkey("Laws_Description")</label>
                                <div class="col">
                                    <input asp-for="LawDescription" required class="form-control" />
                                    <span asp-validation-for="LawDescription" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label asp-for="ReferenceArticle" class="col-3 col-form-label">@_localization.Getkey("Refence_Articles")</label>
                                <div class="col">
                                    <input asp-for="ReferenceArticle" required class="form-control" />
                                    <span asp-validation-for="ReferenceArticle" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer hr-text-right">
                    <div class="d-flex">
                        <input type="submit" value=" @_localization.Getkey("save")" class="btn btn-primary" />|
                        <a asp-action="Index"> @_localization.Getkey("backlist")</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

