@model ATSManagement.Models.TblExternalRequest
@using ATSManagement.Services;
@inject LanguageService _localization
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Delete";
}

<div class="page-wrapper">
    <!-- Page header -->
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <h2 class="page-title">
                        @_localization.Getkey("requests")
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Are you sure you want to delete this?</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <dl class="row">
                        <dt class="col-sm-2">
                            Request Detail
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.RequestDetail)
                        </dd>
                        <dt class="col-sm-2">
                            Requested Date
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.RequestedDate)
                        </dd>
                        <dt class="col-sm-2">
                            Submitted by
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.ExterUser.FirstName)
                            @Html.DisplayFor(model => model.ExterUser.MiddleName)
                        </dd>
                        <dt class="col-sm-2">
                            Institutions
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Int.Name)
                        </dd>
                    </dl>
                </div>
                <div class="card-footer text-end">
                    <div class="d-flex">
                        <form asp-action="Delete">
                            <input type="hidden" asp-for="RequestId" />
                            <input type="submit" value="Delete" class="btn btn-danger" /> |
                            <a asp-action="Index">Back to List</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


