@model ATSManagement.Models.TblExternalRequest

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TblExternalRequest</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestDetail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestDetail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExterUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExterUser.ExterUserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Int)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Int.InistId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.RequestId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
