@using ATSManagement.Services;
@inject AtsdbContext ats;
@inject IHttpContextAccessor httpsSession;
@inject LanguageService _localization
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Home Page";
    
}

<div class="pagetitle">
    <h1>Welcom to Task Tracking Dashboard</h1>
   
</div>
<!-- Left side columns -->
<div class="col-lg-8">
    <div class="row">
        <div class="col-xxl-6 col-xl-6">
            <div class="card info-card sales-card">
                <a asp-action="Index" asp-controller="Requests">
                    <div class="card-body">
                        <h5 class="card-title"> @_localization.Getkey("new_request") </h5>

                        <div class="d-flex align-items-center">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">                              
                                <i class="bx bx-help-circle"></i>
                            </div>
                            <div class="ps-3" style="justify-content:center">
                                <h6>( @ViewBag.NewRequests )</h6>
                                <span class="text-primary small pt-1 fw-bold"> These are total number of requests that aren't not assigned to responsible department</span> <span class="text-muted small pt-2 ps-1"></span>
                            </div>
                        </div>
                    </div>
                    </a>

            </div>
        </div>
        <div class="col-xxl-6 col-xl-6">
            <div class="card info-card revenue-card">
                <a asp-action="HighPriorityRequsts" asp-controller="Requests">
                    <div class="card-body">
                        <h5 class="card-title">@_localization.Getkey("high_priority_request")</h5>
                        <div class="d-flex align-items-center">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                <i class="bx bx-help-circle text-danger"></i>
                            </div>
                            <div class="ps-3">
                                <h6>( @ViewBag.HighPriorityRequests )</h6>
                                <span class="text-primary small pt-1 fw-bold">These are total number of request those needs urgent response. </span>
                            </div>
                        </div>
                    </div>
                    </a>

            </div>
        </div>
        <div class="col-xxl-6 col-xl-6">
            <div class="card info-card customers-card">
                <div class="card-body">
                    <h5 class="card-title">@_localization.Getkey("total_institutions")</h5>
                    <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">                            
                            <i class="bx bxs-bank"></i>
                        </div>
                        <div class="ps-3">
                            <h6>( @ViewBag.Insititutions )</h6>
                            <span class="text-info small pt-1 fw-bold">These are total number of Inistitutions those have accounts in this dashboard. </span>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xxl-6 col-xl-6">
            <div class="card info-card customers-card">
                <div class="card-body">
                    <h5 class="card-title">@_localization.Getkey("Requests_sent_back_to_Inistitutions")</h5>
                    <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-piggy-bank-fill"></i>
                        </div>
                        <div class="ps-3">
                            <h6>  ( @ViewBag.ReturnedRequests )</h6>
                            <span class="text-warning small pt-1 fw-bold">These are total number of Inistitutions those have accounts in this dashboard. </span>


                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
<div class="col-lg-4">
    <div class="card">

        <div class="card-body">
            <h5 class="card-title">Recent Activity </h5>
            <div class="activity">
                @{
                    var notifications = (from notes in ats.TblNotifications select notes).ToList();
                }
                @foreach (var item in notifications)
                {
                    <div class="activity-item d-flex">
                        @if (item.Icon == "1")
                        {
                            <div class="activite-label">@item.NotificationDate.Value.ToShortDateString()</div>
                            <i class='bi bi-circle-fill activity-badge text-success align-self-start'></i>
                        }
                        else if (item.Icon == "2")
                        {
                            <div class="activite-label">@item.NotificationDate.Value.ToShortDateString()</div>
                            <i class='bi bi-circle-fill activity-badge text-danger align-self-start'></i>
                        }
                        else if (item.Icon == "3")
                        {
                            <div class="activite-label">@item.NotificationDate.Value.ToShortDateString()</div>
                            <i class='bi bi-circle-fill activity-badge text-primary align-self-start'></i>
                        }
                        else if (item.Icon == "4")
                        {
                            <div class="activite-label">@item.NotificationDate.Value.ToShortDateString()</div>
                            <i class='bi bi-circle-fill activity-badge text-info align-self-start'></i>
                        }
                        else if (item.Icon == "5")
                        {

                            <div class="activite-label">@item.NotificationDate.Value.ToShortDateString()</div>
                            <i class='bi bi-circle-fill activity-badge text-warning align-self-start'></i>

                        }
                        else
                        {
                            <div class="activite-label">@item.NotificationDate.Value.ToShortDateString()</div>
                            <i class='bi bi-circle-fill activity-badge text-muted align-self-start'></i>

                        }
                        <div class="activity-content">
                            @item.NotificationDetail <a href="#" class="fw-bold text-dark">@item.CreatedByNavigation.FirstName</a> beatae
                        </div>
                    </div><!-- End activity item-->
                }


            </div>

        </div>
    </div>


</div><!-- End Right side columns -->






