@using ATSManagement.Services;
@inject AtsdbContext ats;
@inject IHttpContextAccessor httpsSession;
@inject LanguageService _localization
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Home Page";
    int id = 0;
}

<div class="pagetitle">
    <h1>Welcom to Task Tracking Dashboard</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
    </nav>
</div>
<!-- Left side columns -->
<div class="col-lg-8">
    <div class="row">
        <div class="col-xxl-4 col-md-6">
            <div class="card info-card sales-card">
                <a asp-action="Index" asp-controller="Requests">
                    <div class="card-body">
                        <h5 class="card-title"> @_localization.Getkey("new_request") </h5>

                        <div class="d-flex align-items-center">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                <i class="bi bi-cart"></i>
                            </div>
                            <div class="ps-3">
                                <h6>@ViewBag.NewRequests</h6>

                            </div>
                        </div>
                    </div>
                    </a>

            </div>
        </div>
        <div class="col-xxl-4 col-md-6">
            <div class="card info-card revenue-card">
                <a asp-action="HighPriorityRequsts" asp-controller="Requests">
                    <div class="card-body">
                        <h5 class="card-title">@_localization.Getkey("high_priority_request")</h5>

                        <div class="d-flex align-items-center">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                <i class="bi bi-currency-dollar"></i>
                            </div>
                            <div class="ps-3">
                                <h6>@ViewBag.HighPriorityRequests</h6>
                            </div>
                        </div>
                    </div>
                    </a>

            </div>
        </div>
        <div class="col-xxl-4 col-xl-6">
            <div class="card info-card customers-card">
                <div class="card-body">
                    <h5 class="card-title">@_localization.Getkey("total_institutions")</h5>
                    <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-people"></i>
                        </div>
                        <div class="ps-3">
                            <h6>   @ViewBag.Insititutions</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xxl-4 col-xl-6">
            <div class="card info-card customers-card">
                <div class="card-body">
                    <h5 class="card-title">@_localization.Getkey("Requests_sent_back_to_Inistitutions")</h5>

                    <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-people"></i>
                        </div>
                        <div class="ps-3">
                            <h6>   @ViewBag.ReturnedRequests</h6>

                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
<div class="col-lg-4">
    <div class="card">

        <div class="card-body">
            <h5 class="card-title">Recent Activity </h5>
            <div class="activity">
                @{
                    var notifications = (from notes in ats.TblNotifications select notes).ToList();
                }
                @foreach (var item in notifications)
                {
                    <div class="activity-item d-flex">
                        <div class="activite-label">@item.NotificationDate.Value.ToShortDateString()</div>
                        <i class='bi bi-circle-fill activity-badge text-success align-self-start'></i>
                        <div class="activity-content">
                            @item.NotificationDetail <a href="#" class="fw-bold text-dark">@item.CreatedByNavigation.FirstName</a> beatae
                        </div>
                    </div><!-- End activity item-->
                }


            </div>

        </div>
    </div>


</div><!-- End Right side columns -->






