@using ATSManagement.Services;
@inject AtsdbContext ats;
@using Microsoft.EntityFrameworkCore;
@inject IHttpContextAccessor httpsSession;
@inject LanguageService _localization
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Home Page";
    Guid userId = Guid.Parse(httpsSession.HttpContext.Session.GetString("userId"));
    var loggedUser = ats.TblInternalUsers.Include(s=>s.Dep).Where(s=>s.UserId==userId).FirstOrDefault();
}

<div class="pagetitle">
    <h1>Welcom to Task Tracking Dashboard</h1>

</div>
<!-- Left side columns -->
<div class="col-lg-8">
    <div class="row">
        <div class="col-xxl-6 col-xl-6">
            <div class="card info-card sales-card">

                @if (loggedUser.IsSuperAdmin == true || loggedUser.IsDeputy == true)
                {
                    <a asp-action="Index" asp-controller="Requests">
                        <div class="card-body">
                            <h5 class="card-title"> @_localization.Getkey("new_request") </h5>
                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bx bx-help-circle"></i>
                                </div>
                                <div class="ps-3" style="justify-content:center">
                                    <h6>( @ViewBag.NewRequests )</h6>
                                    <span class="text-primary small pt-1 fw-bold"> @_localization.Getkey("total_new_question")</span> <span class="text-muted small pt-2 ps-1"></span>
                                </div>
                            </div>
                        </div>
                    </a>

                }
                else if (loggedUser.IsDepartmentHead == true)
                {
                    if (loggedUser.Dep.DepCode == "LSDC")
                    {
                        <a asp-action="Index" asp-controller="LegalStudiesDrafting">
                            <div class="card-body">
                                <h5 class="card-title"> @_localization.Getkey("new_request") </h5>

                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bx bx-help-circle"></i>
                                    </div>
                                    <div class="ps-3" style="justify-content:center">
                                        <h6>( @ViewBag.NewRequests )</h6>
                                        <span class="text-primary small pt-1 fw-bold"> @_localization.Getkey("total_new_question")</span> <span class="text-muted small pt-2 ps-1"></span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    }
                    else if (loggedUser.Dep.DepCode == "CVA")
                    {
                        <a asp-action="Index" asp-controller="CivilJustices">
                            <div class="card-body">
                                <h5 class="card-title"> @_localization.Getkey("new_request") </h5>

                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bx bx-help-circle"></i>
                                    </div>
                                    <div class="ps-3" style="justify-content:center">
                                        <h6>( @ViewBag.NewRequests )</h6>
                                        <span class="text-primary small pt-1 fw-bold"> @_localization.Getkey("total_new_question")</span> <span class="text-muted small pt-2 ps-1"></span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    }
                }
                else if (loggedUser.IsTeamLeader == true)
                {
                    if (loggedUser.Dep.DepCode == "LSDC")
                    {
                        <a asp-action="Index" asp-controller="LegalStudiesDrafting">
                            <div class="card-body">
                                <h5 class="card-title"> @_localization.Getkey("new_request") </h5>

                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bx bx-help-circle"></i>
                                    </div>
                                    <div class="ps-3" style="justify-content:center">
                                        <h6>( @ViewBag.NewRequests )</h6>
                                        <span class="text-primary small pt-1 fw-bold"> @_localization.Getkey("total_new_question")</span> <span class="text-muted small pt-2 ps-1"></span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    }
                    else if (loggedUser.Dep.DepCode == "CVA")
                    {
                        <a asp-action="Index" asp-controller="CivilJustices">
                            <div class="card-body">
                                <h5 class="card-title"> @_localization.Getkey("new_request") </h5>

                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bx bx-help-circle"></i>
                                    </div>
                                    <div class="ps-3" style="justify-content:center">
                                        <h6>( @ViewBag.NewRequests )</h6>
                                        <span class="text-primary small pt-1 fw-bold"> @_localization.Getkey("total_new_question")</span> <span class="text-muted small pt-2 ps-1"></span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    } 
                }
                else if (loggedUser.IsDefaultUser == true)
                {
                    if (loggedUser.Dep.DepCode == "LSDC")
                    {
                        <a asp-action="Index" asp-controller="LegalStudiesDrafting">
                            <div class="card-body">
                                <h5 class="card-title"> @_localization.Getkey("new_request") </h5>

                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bx bx-help-circle"></i>
                                    </div>
                                    <div class="ps-3" style="justify-content:center">
                                        <h6>( @ViewBag.NewRequests )</h6>
                                        <span class="text-primary small pt-1 fw-bold"> @_localization.Getkey("total_new_question")</span> <span class="text-muted small pt-2 ps-1"></span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    }
                    else
                    {
                        <a asp-action="Index" asp-controller="CivilJustices">
                            <div class="card-body">
                                <h5 class="card-title"> @_localization.Getkey("new_request") </h5>

                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bx bx-help-circle"></i>
                                    </div>
                                    <div class="ps-3" style="justify-content:center">
                                        <h6>( @ViewBag.NewRequests )</h6>
                                        <span class="text-primary small pt-1 fw-bold"> @_localization.Getkey("total_new_question")</span> <span class="text-muted small pt-2 ps-1"></span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    }
                }
            </div>
        </div>
        <div class="col-xxl-6 col-xl-6">
            <div class="card info-card revenue-card">
                <a asp-action="HighPriorityRequsts" asp-controller="Requests">
                    <div class="card-body">
                        <h5 class="card-title">@_localization.Getkey("high_priority_request")</h5>
                        <div class="d-flex align-items-center">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                <i class="bx bx-help-circle text-danger"></i>
                            </div>
                            <div class="ps-3">
                                <h6>( @ViewBag.HighPriorityRequests )</h6>
                                <span class="text-primary small pt-1 fw-bold">@_localization.Getkey("total_urgent_question") </span>
                            </div>
                        </div>
                    </div>
                </a>

            </div>
        </div>
        <div class="col-xxl-6 col-xl-6">
            <div class="card info-card customers-card">
                <div class="card-body">
                    <h5 class="card-title">@_localization.Getkey("total_institutions")</h5>
                    <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bx bxs-bank"></i>
                        </div>
                        <div class="ps-3">
                            <h6>( @ViewBag.Insititutions )</h6>
                            <span class="text-info small pt-1 fw-bold">@_localization.Getkey("total_inistitution") </span>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xxl-6 col-xl-6">
            <div class="card info-card customers-card">
                <div class="card-body">
                    <h5 class="card-title">@_localization.Getkey("Requests_sent_back_to_Inistitutions")</h5>
                    <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-piggy-bank-fill"></i>
                        </div>
                        <div class="ps-3">
                            <h6>  ( @ViewBag.ReturnedRequests )</h6>
                            <span class="text-warning small pt-1 fw-bold"> @_localization.Getkey("total_inistitution")  </span>


                        </div>
                    </div>

                </div>
            </div>

        </div>


    </div>
</div>
<div class="col-lg-4">
    <div class="card">

        <div class="card-body">
            <h5 class="card-title">@_localization.Getkey("recent_activitiies") </h5>
            <div class="activity">
                @{
                    var notifications = (from notes in ats.TblNotifications select notes).ToList();
                }
                @foreach (var item in notifications)
                {
                    <div class="activity-item d-flex">
                        @if (item.Icon == "1")
                        {
                            <div class="activite-label">@item.NotificationDate.Value.ToShortDateString()</div>
                            <i class='bi bi-circle-fill activity-badge text-success align-self-start'></i>
                        }
                        else if (item.Icon == "2")
                        {
                            <div class="activite-label">@item.NotificationDate.Value.ToShortDateString()</div>
                            <i class='bi bi-circle-fill activity-badge text-danger align-self-start'></i>
                        }
                        else if (item.Icon == "3")
                        {
                            <div class="activite-label">@item.NotificationDate.Value.ToShortDateString()</div>
                            <i class='bi bi-circle-fill activity-badge text-primary align-self-start'></i>
                        }
                        else if (item.Icon == "4")
                        {
                            <div class="activite-label">@item.NotificationDate.Value.ToShortDateString()</div>
                            <i class='bi bi-circle-fill activity-badge text-info align-self-start'></i>
                        }
                        else if (item.Icon == "5")
                        {

                            <div class="activite-label">@item.NotificationDate.Value.ToShortDateString()</div>
                            <i class='bi bi-circle-fill activity-badge text-warning align-self-start'></i>

                        }
                        else
                        {
                            <div class="activite-label">@item.NotificationDate.Value.ToShortDateString()</div>
                            <i class='bi bi-circle-fill activity-badge text-muted align-self-start'></i>

                        }
                        <div class="activity-content">
                            @item.NotificationDetail <a href="#" class="fw-bold text-dark">@item.CreatedByNavigation.FirstName</a> beatae
                        </div>
                    </div><!-- End activity item-->
                }


            </div>

        </div>
    </div>


</div><!-- End Right side columns -->


<div class="col-lg-6">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">@_localization.Getkey("institution_report")</h5>

            <!-- Pie Chart -->
            <div id="pieChart"></div>

            <script>
                document.addEventListener("DOMContentLoaded", () => {
                    new ApexCharts(document.querySelector("#pieChart"), {
                        series: [44, 55, 13],
                        chart: {
                            height: 350,
                            type: 'pie',
                            toolbar: {
                                show: true
                            }
                        },
                        labels: ['Health Minister', 'Finance Minister','Justice Minister']
                    }).render();
                });
            </script>
            <!-- End Pie Chart -->

        </div>
    </div>
</div>

<div class="col-lg-6">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">@_localization.Getkey("recomendation_report")</h5>

            <!-- Donut Chart -->
            <div id="donutChart"></div>

            <script>
                document.addEventListener("DOMContentLoaded", () => {
                    new ApexCharts(document.querySelector("#donutChart"), {
                        series: [44, 55, 13],
                        chart: {
                            height: 350,
                            type: 'donut',
                            toolbar: {
                                show: true
                            }
                        },
                        labels: ['Health Minister', 'Finance Minister', 'Justice Minister'],
                    }).render();
                });
            </script>
            <!-- End Donut Chart -->

        </div>
    </div>
</div>






