@using ATSManagement.Services;
@inject AtsdbContext ats;
@using Microsoft.EntityFrameworkCore;
@inject IHttpContextAccessor httpsSession;
@inject LanguageService _localization
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Home Page";
    Guid userId = Guid.Parse(httpsSession.HttpContext.Session.GetString("userId"));
    var loggedUser = ats.TblInternalUsers.Include(s => s.Dep).Where(s => s.UserId == userId).FirstOrDefault();
}

<script src="~/Scripts/c3.min.js"></script>
<script src="~/Scripts/d3.min.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<style>
    @@media only screen and (max-width : 991px) {
        .chartStyle {
            width: 100% !important;
            height: auto !important;
        }
    }

    @@media only screen and (min-width : 992px) {
        .chartStyle {
            width: 20% !important;
            height: auto !important;
        }
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {

        $.ajax({
            type: "GET",
            url: "/admin/Home/InstChart",
            data: {},
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                GenderFunc(response);
            },
        });
        function GenderFunc(jsondata) {
            new ApexCharts(document.querySelector("#pieChart"), {
                series: jsondata[1],
                chart: {
                    height: 350,
                    type: 'donut',
                    toolbar: {
                        show: true
                    }
                },
                labels: jsondata[0],
            }).render();

        }

        $.ajax({
            type: "GET",
            url: "/admin/Home/StatusChart",
            data: {},
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                StatusFunc(response);
            },
        });
        function StatusFunc(jsondata) {
            new ApexCharts(document.querySelector("#donutChart"), {
                series: jsondata[1],
                chart: {
                    height: 350,
                    type: 'donut',
                    toolbar: {
                        show: true
                    }
                },
                labels: jsondata[0],
            }).render();

        }

    });

</script>
<div class="pagetitle">
    <h1>Welcom to Task Tracking Dashboard</h1>
</div>
<div class="col-lg-8">
    <div class="row">
        @if (loggedUser.IsSuperAdmin == true || loggedUser.IsDeputy == true)
        {
            <div class="col-xxl-6 col-xl-6">
                <div class="card info-card sales-card">
                    <a asp-action="Index" asp-controller="Requests">
                        <div class="card-body">
                            <h5 class="card-title"> @_localization.Getkey("new_request") </h5>
                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bx bx-help-circle"></i>
                                </div>
                                <div class="ps-3" style="justify-content:center">
                                    <h6 style="font-size:18px !important">( @ViewBag.NewRequests )</h6>
                                    <span class="text-primary small pt-1 fw-bold" style="font-weight:200 !important"> @_localization.Getkey("total_new_question")</span> <span class="text-muted small pt-2 ps-1"></span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xxl-6 col-xl-6">
                <div class="card info-card revenue-card">
                    <a asp-action="HighPriorityRequsts" asp-controller="Requests">
                        <div class="card-body">
                            <h5 class="card-title">@_localization.Getkey("high_priority_request")</h5>
                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bx bx-help-circle text-danger"></i>
                                </div>
                                <div class="ps-3">
                                    <h6 style="font-size:18px !important">( @ViewBag.HighPriorityRequests )</h6>
                                    <span class="text-primary small pt-1 fw-bold" style="font-weight:200 !important">@_localization.Getkey("total_urgent_question") </span>
                                </div>
                            </div>
                        </div>
                    </a>

                </div>
            </div>

        }
        else
        {
            @if (loggedUser.Dep.DepCode != "FLIM")
            {
                @if (loggedUser.IsDepartmentHead == true)
                {
                    if (loggedUser.Dep.DepCode == "LSDC")
                    {
                        <div class="col-xxl-6 col-xl-6">
                            <div class="card info-card sales-card">
                                <a asp-action="NewRequests" asp-controller="LegalStudiesDrafting">
                                    <div class="card-body">
                                        <h6 class="card-title" style="font-size:18px !important"> @_localization.Getkey("new_request") </h6>

                                        <div class="d-flex align-items-center">
                                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                                <i class="bx bx-help-circle"></i>
                                            </div>
                                            <div class="ps-3" style="justify-content:center">
                                                <h6>( @ViewBag.RequestFromLegalStudies )</h6>
                                                <span class="text-primary small pt-1 fw-bold" style="font-weight:200 !important"> @_localization.Getkey("total_new_question")</span> <span class="text-muted small pt-2 ps-1"></span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    }
                    else if (loggedUser.Dep.DepCode == "CVA")
                    {
                        <div class="col-xxl-6 col-xl-6">
                            <div class="card info-card sales-card">
                                <a asp-action="NewRequests" asp-controller="CivilJustices">
                                    <div class="card-body">
                                        <h5 class="card-title" style="font-size:18px !important"> @_localization.Getkey("new_request") </h5>

                                        <div class="d-flex align-items-center">
                                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                                <i class="bx bx-help-circle"></i>
                                            </div>
                                            <div class="ps-3" style="justify-content:center">
                                                <h6>( @ViewBag.RequestsFromeCJAD )</h6>
                                                <span class="text-primary small pt-1 fw-bold" style="font-weight:200 !important"> @_localization.Getkey("total_new_question")</span> <span class="text-muted small pt-2 ps-1"></span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    }
                }
                else if (loggedUser.IsTeamLeader == true)
                {
                    if (loggedUser.Dep.DepCode == "LSDC")
                    {
                        <div class="col-xxl-6 col-xl-6">
                            <div class="card info-card sales-card">
                                <a asp-action="TeamRequests" asp-controller="LegalStudiesDrafting">
                                    <div class="card-body">
                                        <h5 class="card-title" style="font-size:18px !important"> @_localization.Getkey("new_request") </h5>

                                        <div class="d-flex align-items-center">
                                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                                <i class="bx bx-help-circle"></i>
                                            </div>
                                            <div class="ps-3" style="justify-content:center">
                                                <h6>( @ViewBag.TeamRequests )</h6>
                                                <span class="text-primary small pt-1 fw-bold" style="font-weight:200 !important"> @_localization.Getkey("total_new_question")</span> <span class="text-muted small pt-2 ps-1"></span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    }
                    else if (loggedUser.Dep.DepCode == "CVA")
                    {
                        <div class="col-xxl-6 col-xl-6">
                            <div class="card info-card sales-card">
                                <a asp-action="TeamRequests" asp-controller="CivilJustices">
                                    <div class="card-body">
                                        <h5 class="card-title" style="font-size:18px !important"> @_localization.Getkey("new_request") </h5>

                                        <div class="d-flex align-items-center">
                                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                                <i class="bx bx-help-circle"></i>
                                            </div>
                                            <div class="ps-3" style="justify-content:center">
                                                <h6>( @ViewBag.TeamRequests )</h6>
                                                <span class="text-primary small pt-1 fw-bold" style="font-weight:200 !important"> @_localization.Getkey("total_new_question")</span> <span class="text-muted small pt-2 ps-1"></span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    }
                }
                else if (loggedUser.IsDefaultUser == true)
                {
                    if (loggedUser.Dep.DepCode == "LSDC")
                    {
                        <div class="col-xxl-6 col-xl-6">
                            <div class="card info-card sales-card">

                                <a asp-action="AssignedRequests" asp-controller="LegalStudiesDrafting">
                                    <div class="card-body">
                                        <h5 class="card-title" style="font-size:18px !important"> @_localization.Getkey("AssignedRequests") </h5>

                                        <div class="d-flex align-items-center">
                                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                                <i class="bx bx-help-circle"></i>
                                            </div>
                                            <div class="ps-3" style="justify-content:center">
                                                <h6>( @ViewBag.ExpertRequest )</h6>
                                                <span class="text-primary small pt-1 fw-bold" style="font-weight:200 !important"> @_localization.Getkey("total_new_question")</span> <span class="text-muted small pt-2 ps-1"></span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    }
                    else if (loggedUser.Dep.DepCode == "CVA")
                    {
                        <div class="col-xxl-6 col-xl-6">
                            <div class="card info-card customers-card">
                                <a asp-action="AssignedRequests" asp-controller="CivilJustices">
                                    <div class="card-body">
                                        <h5 class="card-title" style="font-size:18px !important"> @_localization.Getkey("AssignedRequests") </h5>
                                        <div class="d-flex align-items-center">
                                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                                <i class="bx bx-help-circle"></i>
                                            </div>
                                            <div class="ps-3" style="justify-content:center">
                                                <h6>( @ViewBag.ExpertRequest )</h6>
                                                <span class="text-primary small pt-1 fw-bold" style="font-weight:200 !important"> @_localization.Getkey("total_new_question")</span> <span class="text-muted small pt-2 ps-1"></span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    }
                }
            }
            else if (loggedUser.Dep.DepCode == "FLIM")
            {
                if (loggedUser.IsDepartmentHead == true)
                {
                    <div class="col-xxl-6 col-xl-6">
                        <div class="card info-card sales-card">
                            <a asp-action="Index" asp-controller="InispectionPlans">
                                <div class="card-body">
                                    <h5 class="card-title" style="font-size:18px !important"> @_localization.Getkey("annual_plan") </h5>
                                    <div class="d-flex align-items-center">
                                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                            <i class="bx bx-help-circle"></i>
                                        </div>
                                        <div class="ps-3" style="justify-content:center">
                                            <h6>( @ViewBag.Inspects )</h6>
                                            <span class="text-primary small pt-1 fw-bold" style="font-weight:200 !important"> @_localization.Getkey("total_new_question")</span> <span class="text-muted small pt-2 ps-1"></span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                }
                else if (loggedUser.IsTeamLeader == true)
                {
                    <div class="col-xxl-6 col-xl-6">
                        <div class="card info-card sales-card">
                            <a asp-action="TeamPlans" asp-controller="InispectionPlans">
                                <div class="card-body">
                                    <h5 class="card-title" style="font-size:18px !important"> @_localization.Getkey("AssignedRequests") </h5>
                                    <div class="d-flex align-items-center">
                                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                            <i class="bx bx-help-circle"></i>
                                        </div>
                                        <div class="ps-3" style="justify-content:center">
                                            <h6>( @ViewBag.TeamPlans )</h6>
                                            <span class="text-primary small pt-1 fw-bold" style="font-weight:200 !important"> @_localization.Getkey("total_new_question")</span> <span class="text-muted small pt-2 ps-1"></span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                }
                else if (loggedUser.IsDefaultUser == true)
                {
                    <div class="col-xxl-6 col-xl-6">
                        <div class="card info-card sales-card">
                            <a asp-action="AssignedRequests" asp-controller="InispectionPlans">
                                <div class="card-body">
                                    <h5 class="card-title" style="font-size:18px !important"> @_localization.Getkey("AssignedRequests") </h5>
                                    <div class="d-flex align-items-center">
                                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                            <i class="bx bx-help-circle"></i>
                                        </div>
                                        <div class="ps-3" style="justify-content:center">
                                            <h6>( @ViewBag.AssignedInspections )</h6>
                                            <span class="text-primary small pt-1 fw-bold" style="font-weight:200 !important"> @_localization.Getkey("total_new_question")</span> <span class="text-muted small pt-2 ps-1"></span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                }
            }
        }
        <div class="col-xxl-6 col-xl-6">
            <div class="card info-card customers-card">
                <a asp-action="Index" asp-controller="Inistitutions">
                    <div class="card-body">
                        <h5 class="card-title">@_localization.Getkey("total_institutions")</h5>
                        <div class="d-flex align-items-center">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                <i class="bx bxs-bank"></i>
                            </div>
                            <div class="ps-3">
                                <h6 style="font-size:18px !important">( @ViewBag.Insititutions )</h6>
                                <span class="text-info small pt-1 fw-bold" style="font-weight:200 !important">@_localization.Getkey("total_inistitution") </span>

                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-4">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">@_localization.Getkey("recent_activitiies") </h5>
            <div class="activity">
                @{
                    var notifications = (from notes in ats.TblNotifications where notes.UserId == userId && (notes.IsChecked == false || notes.IsChecked == null) select notes).Take(3).ToList();
                }
                @foreach (var item in notifications)
                {
                    <div class="activity-item d-flex">
                        @if (item.Icon == "1")
                        {
                            <div class="activite-label">@item.NotificationDate.Value.ToShortDateString()</div>
                            <i class='bi bi-circle-fill activity-badge text-success align-self-start'></i>
                        }
                        else if (item.Icon == "2")
                        {
                            <div class="activite-label">@item.NotificationDate.Value.ToShortDateString()</div>
                            <i class='bi bi-circle-fill activity-badge text-danger align-self-start'></i>
                        }
                        else if (item.Icon == "3")
                        {
                            <div class="activite-label">@item.NotificationDate.Value.ToShortDateString()</div>
                            <i class='bi bi-circle-fill activity-badge text-primary align-self-start'></i>
                        }
                        else if (item.Icon == "4")
                        {
                            <div class="activite-label">@item.NotificationDate.Value.ToShortDateString()</div>
                            <i class='bi bi-circle-fill activity-badge text-info align-self-start'></i>
                        }
                        else if (item.Icon == "5")
                        {

                            <div class="activite-label">@item.NotificationDate.Value.ToShortDateString()</div>
                            <i class='bi bi-circle-fill activity-badge text-warning align-self-start'></i>

                        }
                        else
                        {
                            <div class="activite-label">@item.NotificationDate.Value.ToShortDateString()</div>
                            <i class='bi bi-circle-fill activity-badge text-muted align-self-start'></i>

                        }
                        @if (item.FromExternal == true)
                        {
                            <div class="activity-content">
                                @item.NotificationDetail <a href="#" class="fw-bold text-dark">@item.ExterUser.FirstName</a> beatae
                            </div>
                        }
                        else
                        {
                            <div class="activity-content">
                                @item.NotificationDetail <a href="#" class="fw-bold text-dark">@item.CreatedByNavigation.FirstName</a> beatae
                            </div>
                        }

                    </div><!-- End activity item-->
                }
                @if (notifications.Count > 2)
                {
                    <a asp-action="Index" asp-controller="Notifications"><span class="badge rounded-pill bg-primary p-2 ms-2">@_localization.Getkey("view_all")</span></a>
                }
            </div>

        </div>
    </div>


</div><!-- End Right side columns -->

<div class="col-lg-6">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">@_localization.Getkey("request_Status_Report")</h5>

            <!-- Donut Chart -->
            <div id="donutChart"></div>

        </div>
    </div>
</div>
<div class="col-lg-6">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">@_localization.Getkey("institution_based_report")</h5>

            <div id="pieChart">    </div>
        </div>
    </div>
</div>








