@model IEnumerable<ATSManagement.Models.TblInspectionReportFile>
@using ATSManagement.Services;
@inject LanguageService _localization
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.EntityFrameworkCore
@inject AtsdbContext _context;
@{
    ViewData["Title"] = _localization.Getkey("Progress_Activities");
    Guid? ID = ViewBag.SpecificPlanId;
    var activities = _context.TblInpectionActivites
                .Include(x => x.SpecificPlan)
                .Include(x => x.CreatedByNavigation)
                .Where(x => x.SpecificPlanId == ID).ToList();
    int no = 0;
}
<style type="text/css">
    .table thead th {
        text-transform: capitalize !important;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: .825rem !important;
        font-weight: bolder;
    }
</style>
<div class="page-wrapper">
    <!-- Page header -->
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <h2 class="page-title">
                        @_localization.Getkey("document_History");
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card">
                <div class="card-header">
                    <a style="color:darkblue" asp-action="@ViewBag.action" >
                        <i class="bi bi-backspace-fill"></i>
                        @_localization.Getkey("backlist")
                    </a>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="list-group">
                            <table class="table table-bordered" id="role">
                                <thead>
                                    <tr>
                                        <th>
                                            @_localization.Getkey("Description")
                                        </th>
                                        <th>
                                            @_localization.Getkey("created_by")
                                        </th>
                                        <th>

                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        var requestName = _context.TblSpecificPlans.Where(a => a.SpecificPlanId == item.SpecificPlanId).FirstOrDefault();

                                        <tr>
                                            <td>
                                                @if (requestName != null)
                                                {
                                                    @Html.Raw(requestName.Description)
                                                    <small>@TimeAgoClass.TimeAgo(item.CreatedDate)</small>
                                                }
                                            </td>
                                            <td>
                                                @item.CreatedByNavigation.FirstName &nbsp; @item.CreatedByNavigation.MidleName
                                                @if (item.CreatedByNavigation.IsDeputy == true)
                                                {
                                                    <small style="color: #0254ef; font-size: 13px ">
                                                        (State Minister)
                                                    </small>
                                                }
                                                else if (item.CreatedByNavigation.IsDepartmentHead == true)
                                                {
                                                    <small style="color: #0254ef; font-size: 13px ">
                                                        (Department head)
                                                    </small>
                                                }
                                                else
                                                {
                                                    <small style="color: #0254ef; font-size:13px">
                                                        (Expert)
                                                    </small>
                                                }
                                            </td>
                                            <td>
                                                <a asp-controller="DocumentViewer" asp-action="DocumentViewer" asp-route-method="DocumentHistory"
                                                   asp-route-methodController="InispectionPlans" asp-route-path="@item.ReportFiles" asp-route-id="@item.SpecificPlanId" aria-current="true">
                                                    @item.ReportFiles
                                                </a>
                                            </td>
                                            <td>
                                                <a asp-action="DeleteDocument" asp-route-RepId="@item.RepId">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                                                        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                                                    </svg>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>

        $(document).ready(function () {
            $('#role').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'excel', 'print'
                ]
            });
        });

    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            let options = {
                selector: '#ActivityDetail',
                height: 300,
                menubar: true,
                statusbar: false,
                plugins: [
                    'advlist autolink lists link image charmap print preview anchor',
                    'searchreplace visualblocks code fullscreen',
                    'insertdatetime media table paste code help wordcount',
                    'lists'
                ],
                toolbar: 'undo redo | formatselect | ' +
                    'bold italic backcolor | alignleft aligncenter ' +
                    'alignright alignjustify | bullist numlist outdent indent | ' +
                    'removeformat',
                content_style: 'body { font-family: -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif; font-size: 14px; -webkit-font-smoothing: antialiased; }'
            }
            if (localStorage.getItem("tablerTheme") === 'dark') {
                options.skin = 'oxide-dark';
                options.content_css = 'dark';
            }
            tinyMCE.init(options);
        })
    </script>
}
