@model ATSManagement.ViewModels.InispectionPlan
@using ATSManagement.Services;
@inject LanguageService _localization
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = _localization.Getkey("annual_plans")+":Edit";
}

<div class="page-wrapper">
    <!-- Page header -->
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <h2 class="page-title">
                        @_localization.Getkey("annual_plans")
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <!-- Page body -->
    <div class="page-body">
        <div class="container-xl">
            <div class="row row-cards">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                        </div>
                        <form asp-action="Edit">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <input type="hidden" asp-for="InspectionPlanId" />
                                        <div class="mb-3 row">
                                            <label class="col-3 col-form-label">@_localization.Getkey("title")</label>
                                            <div class="col">
                                                <input asp-for="PlanTitle" class="form-control" />
                                                <span asp-validation-for="PlanTitle" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label class="col-3 col-form-label">@_localization.Getkey("Description")</label>
                                            <div class="col">
                                                <input asp-for="PlanDescription" class="form-control" />
                                                <span asp-validation-for="PlanDescription" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label class="col-3 col-form-label">@_localization.Getkey("targeted_institutions")</label>
                                            <div class="col">
                                                @Html.ListBoxFor(model => model.InistId, new MultiSelectList(Model.Inistitutions, "Value", "Text"), new { @class = "form-select", multiple = "multiple", id = "Subjects_dropdown" })
                                                <span asp-validation-for="InistId" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label asp-for="YearId" class="col-3 col-form-label">@_localization.Getkey("inspection_year")</label>
                                            <div class="col">
                                                @Html.DropDownListFor(model => model.YearId, new SelectList(Model.InspectionYear, "Value", "Text"), htmlAttributes: new { @class = "form-select", @readonly = true })
                                                <span asp-validation-for="YearId" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label class="col-3 col-form-label">@_localization.Getkey("CreatedDate")</label>
                                            <div class="col">
                                                <input asp-for="CreationDate" class="form-control" readonly />
                                                <span asp-validation-for="CreationDate" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer text-end">
                                <div class="d-flex">
                                    <input type="submit" value="@_localization.Getkey("save")" class="btn btn-primary" />
                                    <a asp-action="Index">@_localization.Getkey("backlist")</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var el;
            window.TomSelect && (new TomSelect(el = document.getElementById('Subjects_dropdown'), {

                copyClassesToDropdown: false,
                dropdownParent: 'body',
                controlInput: '<input>',
                render: {
                    item: function (data, escape) {
                        if (data.customProperties) {
                            return '<div><span class="dropdown-item-indicator">' + data.customProperties + '</span>' + escape(data.text) + '</div>';
                        }
                        return '<div>' + escape(data.text) + '</div>';
                    },
                    option: function (data, escape) {
                        if (data.customProperties) {
                            return '<div><span class="dropdown-item-indicator">' + data.customProperties + '</span>' + escape(data.text) + '</div>';
                        }
                        return '<div>' + escape(data.text) + '</div>';
                    },
                },
            }));
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#MeetingUsergroups_dropdown').multiselect();
        });
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            let options = {
                selector: '#PlanDescription',
                height: 300,
                menubar: true,
                statusbar: false,
                plugins: [
                    'advlist autolink lists link image charmap print preview anchor',
                    'searchreplace visualblocks code fullscreen',
                    'insertdatetime media table paste code help wordcount',
                    'lists'
                ],
                toolbar: 'undo redo | formatselect | ' +
                    'bold italic backcolor | alignleft aligncenter ' +
                    'alignright alignjustify | bullist numlist outdent indent | ' +
                    'removeformat',
                content_style: 'body { font-family: -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif; font-size: 14px; -webkit-font-smoothing: antialiased; }'
            }
            if (localStorage.getItem("tablerTheme") === 'dark') {
                options.skin = 'oxide-dark';
                options.content_css = 'dark';
            }
            tinyMCE.init(options);
        })
    </script>
}
