@model ATSManagement.ViewModels.InspectionAssignModel
@using ATSManagement.Services;
@inject LanguageService _localization
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = _localization.Getkey("annual_plans");
}
<div class="page-wrapper">
    <!-- Page header -->
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <h2 class="page-title">
                        @_localization.Getkey("Send_Evaluations_to_Institutions")
                    </h2>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12">
        <div class="card">
            <form asp-action="SendToInstitutions" method="post" enctype="multipart/form-data">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="PlanId" />
                            <div class="mb-3 row">
                                <label class="col-3 col-form-label">Remark</label>
                                <div class="col">
                                    <input asp-for="SendingRemark" class="form-file-button" />
                                    <span asp-validation-for="SendingRemark" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-3 col-form-label">Expected response date</label>
                                <div class="col">
                                    <input asp-for="ExpectedReplyDate" class="form-file-button" />
                                    <span asp-validation-for="ExpectedReplyDate" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-3 col-form-label">@_localization.Getkey("institution")</label>
                                <div class="col">
                                    @Html.DropDownListFor(model => model.InistId, new SelectList(Model.Insititutions, "Value", "Text"), htmlAttributes: new { @class = "form-select" })
                                    <span asp-validation-for="InistId" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-3 col-form-label"> @_localization.Getkey("Official_Letter") </label>
                                <div class="col">
                                    <input asp-for="OfficialLetter" type="file" class="form-file-button" />
                                    <span asp-validation-for="OfficialLetter" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-3 col-form-label">@_localization.Getkey("attachment")</label>
                                <div class="col">
                                    <input asp-for="SentReport" type="file" class="form-file-button" />
                                    <span asp-validation-for="SentReport" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-end">
                    <div class="d-flex">
                        <input type="submit" value="@_localization.Getkey("send")" class="btn btn-primary" />|
                        <a asp-action="Index">@_localization.Getkey("backlist")</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            let options = {
                selector: '#SendingRemark',
                height: 300,
                menubar: true,
                statusbar: false,
                plugins: [
                    'advlist autolink lists link image charmap print preview anchor',
                    'searchreplace visualblocks code fullscreen',
                    'insertdatetime media table paste code help wordcount',
                    'lists'
                ],
                toolbar: 'undo redo | formatselect | ' +
                    'bold italic backcolor | alignleft aligncenter ' +
                    'alignright alignjustify | bullist numlist outdent indent | ' +
                    'removeformat',
                content_style: 'body { font-family: -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif; font-size: 14px; -webkit-font-smoothing: antialiased; }'
            }
            if (localStorage.getItem("tablerTheme") === 'dark') {
                options.skin = 'oxide-dark';
                options.content_css = 'dark';
            }
            tinyMCE.init(options);
        })
    </script>
}