@model ATSManagement.Models.TblInspectionInstitution
@using ATSManagement.Services;
@inject LanguageService _localization
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TblInspectionInstitution</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RequestStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RequestStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RecomendationDetail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RecomendationDetail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RecomendationFeedBack)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RecomendationFeedBack)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RequestedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RequestedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExpectedResponseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExpectedResponseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ResponseStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ResponseStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReComendationFile)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReComendationFile)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Institution)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Institution.InistId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReturnedByNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReturnedByNavigation.ExterUserId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SubmittedByNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubmittedByNavigation.UserId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SubMissionId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
