@model IEnumerable<ATSManagement.Models.TblWitnessEvidence>
@using ATSManagement.Services;
@inject LanguageService _localization
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WitnessesName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EvidenceFiles)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EvidenceVideos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedByNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Request)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.WitnessesName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EvidenceFiles)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EvidenceVideos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedByNavigation.UserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Request.RequestId)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.WitnessId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.WitnessId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.WitnessId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
