@model ATSManagement.Models.TblInstotutionMonitoringReport

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TblInstotutionMonitoringReport</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoniteredOffice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoniteredOffice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContractNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContractNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContractMoneyAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContractMoneyAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adrnumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adrnumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdrmoneyAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdrmoneyAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DebateNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DebateNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DebateMoneyAmmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DebateMoneyAmmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Investigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Investigation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedByNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedByNavigation.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Month)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Month.MonthId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year.YearId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
