@model ATSManagement.ViewModels.CivilJusticeExternalRequestModel
@using ATSManagement.Services;
@inject LanguageService _localization
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = _localization.Getkey("Uppdate_progress_status");
}
<div class="page-wrapper">
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <h2 class="page-title">
                        @_localization.Getkey("Uppdate_progress_status")
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-header">
            </div>
            <form asp-action="UppdateProgressStatus" method="post" enctype="multipart/form-data">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="RequestId" />
                            <div class="mb-3 row">
                                <label class="col-3 col-form-label">@_localization.Getkey("title")</label>
                                <div class="col">
                                    @Html.Raw(Model.RequestDetail)
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-3 col-form-label">@_localization.Getkey("status")</label>
                                <div class="col">
                                    @Html.DropDownListFor(model => model.ExternalRequestStatusID, new SelectList(Model.ExternalStatus, "Value", "Text"), htmlAttributes: new { @class = "form-select" })
                                    <span asp-validation-for="ExternalRequestStatusID" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-end">
                    <div class="d-flex">
                        <input type="submit" value="@_localization.Getkey("Update")" class="btn btn-primary" />|
                        <a asp-action="AssignedRequests">@_localization.Getkey("backlist")</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

