@model ATSManagementExternal.ViewModels.CollectionModel

@{
    ViewData["Title"] = "Index";
    int id = 0;
}
<script type="text/javascript" src="https://cdn.canvasjs.com/canvasjs.min.js"></script>
<script type="text/javascript" src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
<script type="text/javascript">
		window.onload = function () {
			var chart = new CanvasJS.Chart("chartContainer", {
				theme: "light2",
				animationEnabled: true,
				title: {
					text: ""
				},
				subtitles: [
					{ text: "" }
				],
				data: [{
		            type: "bar",
		            indexLabel: "{y}",
		            dataPoints: @Html.Raw(ViewBag.DataPoints),
	            }]
			});
			chart.render();
		};
</script>
<div class="page-body">
    <div class="container-xl">
        <div class="row">
            <div class="col-md-9">
                <div class="card-body">
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <h2>Recommendation Dashboard</h2>
                                    <hr />
                                    <p>The Ministry of Justice  makes recommendations to different Ethiopina Ministry offices to promote effectiveness, efficiency, economy, and integrity of all programs and operations, including those performed by its contractors and grantees. Recommendations are considered resolved when Ministry offices and Ministry agree on the required corrective actions. After the agreed-upon corrective actions have been completed, the recommendations are considered closed. This Recommendation Dashboard provides the status of Ministry of Justice recommendations going back to FY 2011.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-12">
                                <div class="row row-cards">
                                    
                                        <div class="col-sm-6 col-lg-6">
                                            <div class="card card-sm" style="color: white; background: cadetblue">
                                                <div class="card-body">
                                                    <div class="row align-items-center">
                                                        <div class="row align-items-center">
                                                            <div class="col-auto">
                                                                <span class="bg-primary text-white avatar">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-book-2" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M19 4v16h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h12z" /><path d="M19 16h-12a2 2 0 0 0 -2 2" /><path d="M9 8h6" /></svg>
                                                                </span>
                                                            </div>
                                                            <div class="col">
                                                                <div class="font-weight-medium">
                                                                    ( @ViewBag.openRecos)
                                                                </div>
                                                                <div class="font-weight-medium">
                                                                    Open status
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-sm-6 col-lg-6">
                                            <div class="card card-sm" style="color: white; background: cadetblue">
                                                <div class="card-body">
                                                    <div class="row align-items-center">
                                                        <div class="row align-items-center">
                                                            <div class="col-auto">
                                                                <span class="bg-primary text-white avatar">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-book-2" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M19 4v16h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h12z" /><path d="M19 16h-12a2 2 0 0 0 -2 2" /><path d="M9 8h6" /></svg>
                                                                </span>
                                                            </div>
                                                            <div class="col">
                                                                <div class="font-weight-medium">
                                                                    (@ViewBag.closedStatus)
                                                                </div>
                                                                <div class="font-weight-medium">
                                                                    Closed status
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <div class="card">                                
                                <div class="card-body">
                                    <div id="chartContainer" style="height: 370px; width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="accordion" id="accordion-example">
                                    @foreach (var item in Model.tblRecomendations)
                                    {
                                        id = id + 1;
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="heading-1">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-@id" aria-expanded="false">
                                                    @Html.Raw(item.RecomendationTitle)
                                                </button>
                                            </h2>
                                            <div id="collapse-@id" class="accordion-collapse collapse" style="padding-left:30px" data-bs-parent="#accordion-example">
                                                @Html.Raw(item.Recomendation)
                                                <div class="accordion-body pt-0" style="display:flex">
                                                    @if (item.Recostatus.Status == "Open")
                                                    {
                                                        <p style="color:dodgerblue; margin-right:10px">
                                                            (
                                                            <strong>@Html.Raw(@item.Recostatus.Status)</strong>)
                                                        </p>
                                                    }
                                                    else
                                                    {
                                                        <p style="color: red; margin-right: 10px">
                                                            (
                                                            <strong>@Html.Raw(@item.Recostatus.Status)</strong>
                                                            )
                                                        </p>
                                                    }
                                                    @item.Inist.Name
                                                <a asp-action="DownloadEvidenceFile" style="margin-left:20px" asp-controller="Recomendations" asp-route-path="@item.ReportPath">
                                                   ( @item.Year.Year
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-file-download" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                        <path d="M14 3v4a1 1 0 0 0 1 1h4"></path>
                                                        <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z"></path>
                                                        <path d="M12 17v-6"></path>
                                                        <path d="M9.5 14.5l2.5 2.5l2.5 -2.5"></path>
                                                    </svg>
                                                    )
                                                </a>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                @using (Html.BeginForm("Index", "Recomendations", FormMethod.Post, new { @name = "Form1" }))
                {
                    <div class="col-md-10">
                        <div class="card">
                            <div class="card-body">
                                @Html.DropDownListFor(model => model.RecostatusId, new SelectList(Model.tblRecomendationsStatus, "Value", "Text"), "--All--", htmlAttributes: new { @class = "form-select" , @id = "ddlStatus" })
                            </div>
                        </div>
                    </div>
                <br />
                <div class="col-md-10">
                    <div class="card">
                        <div class="card-body">
                            @Html.DropDownListFor(model => model.YearId, new SelectList(Model.tblYears, "Value", "Text"), "--All--", htmlAttributes: new { @class = "form-select", @id = "ddlYears" })
                        </div>
                    </div>
                </div>
                <br />
                <div class="col-md-10">
                    <div class="card">
                        <div class="card-body">
                            @Html.DropDownListFor(model => model.InistId, new SelectList(Model.tblInistitutions, "Value", "Text"), "--All--", htmlAttributes: new { @class = "form-select", @id = "ddlInistitutions" })
                        </div>
                    </div>
                </div>
                <br />
                <div class="col-md-10">
                    <div class="card">
                        <div class="card-body">
                            @Html.DropDownListFor(model => model.LawId, new SelectList(Model.tblInspectionLaws, "Value", "Text"), "--All--", htmlAttributes: new { @class = "form-select", @id = "ddlInspectionLaws" })
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $("body").on("change", "#ddlStatus", function () {
        document.forms["Form1"].submit();
    });
    $("body").on("change", "#ddlYears", function () {
        document.forms["Form1"].submit();
    });
    $("body").on("change", "#ddlInistitutions", function () {
        document.forms["Form1"].submit();
    });
    $("body").on("change", "#ddlInspectionLaws", function () {
        document.forms["Form1"].submit();
    });
</script>