@using Newtonsoft.Json;
@using ATSManagementExternal.ViewModels;
@using Microsoft.AspNetCore.Http;
@using ATSManagementExternal.Services;
@inject LanguageService _localization
@inject IHttpContextAccessor _context;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ATSManagement</title>

    <link href="~/assets/img/favicon.png" rel="icon">
    <link href="~/assets/img/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link href="~/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="~/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="~/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/assets/css/style.css" rel="stylesheet">
</head>
<body class="layout-fluid">
    <section id="topbar" class="d-flex align-items-center">
        <div class="container d-flex justify-content-center justify-content-md-between">
            <div class="contact-info d-flex align-items-center">
                <i class="bi bi-envelope-fill"></i><a href="mailto:contact@example.com">info@eag.gov.et</a>
                <i class="bi bi-phone-fill phone-icon"></i> 011 551 5099
            </div>
            <div class="social-links d-none d-md-block">
                <a href="https://x.com/MOJEthiopia?s=20" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="https://www.facebook.com/MOJEthiopia" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="https://www.facebook.com/MOJEthiopia" class="instagram"><i class="bi bi-instagram"></i></a>
                <p>loged in</p>
            </div>
        </div>
    </section>
    <header id="header" class="d-flex align-items-center">
        <div class="container d-flex align-items-center justify-content-between">
            <a  asp-controller="Home" asp-action="Index" class="logo"><img src="~/assets/img/logo_black.jpg" alt="" style="width:110% !important"></a>
            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="cta-btn" asp-controller="Home" asp-action="Index"> @_localization.Getkey("home")</a></li>
                    <li><a class="cta-btn" asp-controller="Home" asp-action="ContactUs">Contact as Guest</a></li>
                    <li><a class="cta-btn" asp-controller="Recomendations" asp-action="Index">@_localization.Getkey("recomendations")</a></li>
                    @if (_context.HttpContext.Session.GetString("UserFullname") != null)
                    {

                        
                        <li><a class="cta-btn" asp-controller="Inspections" asp-action="Index">@_localization.Getkey("Inspection_Reports")</a></li>
                        <li class="dropdown">
                            <a href="#"><span>@_localization.Getkey("requests")</span> <i class="bi bi-chevron-down"></i></a>
                            <ul>
                                <li><a asp-controller="ExternalRequests" asp-action="Index">@_localization.Getkey("new_requests")</a></li>
                                <li><a asp-controller="ExternalRequests" asp-action="SentBackRequests">@_localization.Getkey("completed_requests")</a></li>
                                <li><a class="cta-btn" asp-controller="ExternalRequests" asp-action="Appointments">@_localization.Getkey("appointments")</a></li>
                            </ul>
                        </li>
                    }

                    <li class="dropdown">
                        <a href="#"><i class="bi bi-globe"></i></a>
                        <ul>
                            <li><a asp-controller="Home" asp-action="IndexLocalIzation" asp-route-Culture="am">አማርኛ</a></li>
                            <li><a asp-controller="Home" asp-action="IndexLocalIzation" asp-route-Culture="en-US">English</a></li>
                        </ul>
                    </li>
                    @if (_context.HttpContext.Session.GetString("UserFullname") != null)
                    {
                        <li><a class="cta-btn" asp-controller="Account" asp-action="Logout">Logout</a></li>

                    }
                    else
                    {
                        <li><a class="cta-btn" asp-controller="Account" asp-action="Login">Login</a></li>
                    }


                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>
        </div>
    </header>
    <main id="main">
        @RenderBody()
    </main>
    <footer id="footer" style="background: #17233b !important">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 footer-links">
                        <div class="footer-info">
                            <h3>Ministry of Justice</h3>
                            <p>
                                Bambis, Jomo Kenyatta Avenue, <br>
                                Addis Ababa, Ethiopia<br><br>
                                <strong>Phone:</strong> 011 551 5099<br>
                                <strong>Email:</strong> info@eag.gov.et<br>
                            </p>
                            <div class="social-links mt-3">
                                <a href="https://x.com/MOJEthiopia?s=20" class="twitter"><i class="bi bi-twitter"></i></a>
                                <a href="https://www.facebook.com/MOJEthiopia" class="facebook"><i class="bi bi-facebook"></i></a>
                                <a href="https://www.facebook.com/MOJEthiopia" class="instagram"><i class="bi bi-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#header">Home</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Services     </a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-6 footer-links">
                        <h4>Our Services</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="copyright">
                &copy; @_localization.Getkey("Copyright") <strong><span>Justice Minister</span></strong>. @_localization.Getkey("Copyright") &copy; @{ DateTime.Now.Year.ToString();}
            </div>
            <div class="credits">
                Designed and Developed by <a href="https://bootstrapmade.com/">MG-Solutions</a>
            </div>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
    <div id="preloader"></div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @*<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    @*<script src="~/js/site.js" asp-append-version="true"></script>*@

    <script src="https://netdna.bootstrapcdn.com/bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.2.0/js/bootstrap-datepicker.min.js"></script>
    <!-- Vendor JS Files -->
    <script src="~/assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="~/assets/vendor/aos/aos.js"></script>
    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/assets/vendor/php-email-form/validate.js"></script>
    <script src="~/dist/js/bootstrap-multiselect.min.js"></script>
    <script src="~/dist/libs/nouislider/dist/nouislider.min.js?1684106062" defer></script>
    <script src="~/dist/libs/litepicker/dist/litepicker.js?1684106062" defer></script>
    <script src="~/dist/libs/tom-select/dist/js/tom-select.base.min.js?1684106062" defer></script>
    <script src="~/dist/libs/tinymce/tinymce.min.js?1684106062" defer></script>
    <!-- Template Main JS File -->
    <script src="~/assets/js/main.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
    @await Component.InvokeAsync("NToastNotify")
    @await Component.InvokeAsync("Notyf")


</body>
</html>
