@model ATSManagementExternal.Models.TblAppointment
@using ATSManagementExternal.Services;
@inject AtsdbContext ats;
@inject LanguageService _localization
@inject IHttpContextAccessor _context;
@inject AtsdbContext ats;
@{
}
<br />

<div class="page-wrapper">

    <div class="page-body">
        <div class="container-xl">
            <div class="row row-cards">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h2 class="page-title">
                                @_localization.Getkey("Appointment_Reason")
                            </h2>
                        </div>
                        @{
                            var particpants = (from items in ats.TblAppointmentParticipants
                                               join appoints in ats.TblAppointments on items.AppointmentId equals appoints.AppointmentId
                                               join users in ats.TblInternalUsers on items.UserId equals users.UserId
                                               where Model.AppointmentId == items.AppointmentId
                                               select new
                                               {
                                                   firtname = users.FirstName,
                                                   middlename = users.MidleName
                                               }).ToList();
                        }
                        <div class="card-body">
                            <dl class="row">
                                <dt class="col-sm-3">
                                    <label asp-for="AppointmentDetail" class="col-form-label-m"> @_localization.Getkey("appoitnment_reason") </label>

                                </dt>
                                <dd class="col-sm-9">
                                    @Html.Raw(Model.AppointmentDetail)
                                </dd>
                                <dt class="col-sm-3">
                                    <label asp-for="AppointmentDetail" class="col-form-label-m">@_localization.Getkey("appointment_Result") </label>

                                </dt>
                                <dd class="col-sm-9">
                                    @Html.DisplayFor(model => model.DescusionFinalComeup)
                                </dd>
                                <dt class="col-sm-3">
                                    <label asp-for="AppointmentDetail" class="col-form-label-m"> @_localization.Getkey("appointment_Added_date")</label>
                                </dt>
                                <dd class="col-sm-9">
                                    @Html.DisplayFor(model => model.CreatedDate)
                                </dd>
                                <dt class="col-sm-3">
                                    <label asp-for="AppointmentDetail" class="col-form-label-m">@_localization.Getkey("appointment_date")</label>
                                </dt>
                                <dd class="col-sm-9">
                                    @Html.DisplayFor(model => model.AppointmentDate)
                                </dd>
                                <dt class="col-sm-3">
                                    <label asp-for="AppointmentDetail" class="col-form-label-m">@_localization.Getkey("uproved_appointment_date")</label>
                                </dt>
                                <dd class="col-sm-9">
                                    @Html.DisplayFor(model => model.AllowedAppointDate)
                                </dd>
                                <dt class="col-sm-3">
                                    <label asp-for="AppointmentDetail" class="col-form-label-m">Appointment Participants</label>
                                </dt>
                                <dd class="col-sm-9">

                                    @foreach (var parts in particpants)
                                    {
                                        @Html.DisplayFor(modelItem => parts.firtname)
                                        @Html.DisplayFor(modelItem => parts.middlename)
                                    }
                                </dd>
                            </dl>
                        </div>
                        <div class="card-footer text-end">
                            <div class="d-flex">
                                <a asp-action="EditAppointments" asp-route-id="@Model?.AppointmentId">@_localization.Getkey("edit")</a> |
                                <a asp-action="Appointments">@_localization.Getkey("backlist")</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br />
