@model ATSManagementExternal.ViewModels.CivilJusticeExternalRequestModel
@{
    ViewData["Title"] = "Create";
}
<div class="page-wrapper">
    <!-- Page header -->
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <h2 class="page-title">
                        Your Requests
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <!-- Page body -->
    <div class="page-body">
        <div class="container-xl">
            <div class="row row-cards">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Create</h4>
                        </div>
                        <form asp-action="Create" method="post" enctype="multipart/form-data">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <input asp-for="ExterUserId" type="hidden" class="form-control" />
                                        <input asp-for="IntId" type="hidden" class="form-control" />
                                        <div class="mb-3 row" id="divRequestType">
                                            <label asp-for="TypeId" class=" col-2 col-form-label">Request types</label>
                                            <div class="col">
                                                @Html.DropDownListFor(model => model.TypeId, new SelectList(Model.RequestTypes, "Value", "Text"), "--Select here--", htmlAttributes: new { @class = "form-select" })
                                                <span asp-validation-for="TypeId" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="mb-3 row" id="divRequestDetail" style="display:none">
                                            <label asp-for="RequestDetail" class=" col-2 col-form-label">Request Detail</label>
                                            <div class="col">
                                                <input asp-for="RequestDetail" class="form-control" />
                                                <span asp-validation-for="RequestDetail" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="mb-3 row" id="divAppointmentDetail" style="display:none">
                                            <label asp-for="AppointmentDetail" class=" col-2 col-form-label">Appointment Detail</label>
                                            <div class="col">
                                                <input asp-for="AppointmentDetail" class="form-control" />
                                                <span asp-validation-for="AppointmentDetail" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="mb-3 row" id="DivRequestedDate" style="display:none">
                                            <label asp-for="RequestedDate" class=" col-2 col-form-label">Creation Date</label>
                                            <div class="col">
                                                <input asp-for="CreatedDate" class="form-control" readonly />
                                                <span asp-validation-for="CreatedDate" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="mb-3 row" id="divServiceType" style="display:none">
                                            <label asp-for="ServiceTypeID" class=" col-2 col-form-label">Service types</label>
                                            <div class="col">
                                                @Html.DropDownListFor(model => model.ServiceTypeID, new SelectList(Model.ServiceTypes, "Value", "Text"), "--Select here--", htmlAttributes: new { @class = "form-select" })
                                                <span asp-validation-for="ServiceTypeID" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="mb-3 row" id="divCasetype" style="display:none">
                                            <label asp-for="CaseTypeId" class=" col-2 col-form-label">Case types</label>
                                            <div class="col">
                                                @Html.DropDownListFor(model => model.CaseTypeId, new SelectList(Model.CaseTypes, "Value", "Text"), "--Select here--", htmlAttributes: new { @class = "form-select" })
                                                <span asp-validation-for="CaseTypeId" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="mb-3 row" id="divDocType" style="display:none">
                                            <label asp-for="DocId" class=" col-2 col-form-label">Document type</label>
                                            <div class="col">
                                                @Html.DropDownListFor(model => model.DocId, new SelectList(Model.LegalStadiesCasetypes, "Value", "Text"), "--Select here--", htmlAttributes: new { @class = "form-select" })
                                                <span asp-validation-for="DocId" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="mb-3 row" id="divQuestType" style="display:none">
                                            <label asp-for="QuestTypeId" class=" col-2 col-form-label">Question types</label>
                                            <div class="col">
                                                @Html.DropDownListFor(model => model.QuestTypeId, new SelectList(Model.LegalStadiesQuestiontypes, "Value", "Text"), "--Select here--", htmlAttributes: new { @class = "form-select" })
                                                <span asp-validation-for="QuestTypeId" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="mb-3 row" id="DivDocumentFile" style="display:none">
                                            <label class="col-3 col-form-label">Document file</label>
                                            <div class="col">
                                                <input asp-for="DocumentFile" type="file" class="form-file-button" />
                                                <span asp-validation-for="DocumentFile" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="mb-3 row" id="DivPriority" style="display:none">
                                            <label asp-for="Priorities" class=" col-2 col-form-label">Priority</label>
                                            <div class="col">
                                                @Html.DropDownListFor(model => model.PriorityId, new SelectList(Model.Priorities, "Value", "Text"), "--Select here--", htmlAttributes: new { @class = "form-select" })
                                                <span asp-validation-for="PriorityId" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer text-end">
                                <div class="d-flex">
                                    <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-scrollable">
                                        Submit
                                    </a>
                                    <a asp-action="CivilJustice">Back to List</a>
                                </div>
                            </div>

                            <div class="modal modal-blur fade" id="modal-scrollable" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Scrollable modal</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                           @ViewBag.PrivacyPolicy
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn me-auto" data-bs-dismiss="modal">Close</button>
                                            <button type="submit" value="Save" class="btn btn-primary" data-bs-dismiss="modal">Save changes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            let options = {
                selector: '#RequestDetail',
                height: 300,
                menubar: true,
                statusbar: false,
                plugins: [
                    'advlist autolink lists link image charmap print preview anchor',
                    'searchreplace visualblocks code fullscreen',
                    'insertdatetime media table paste code help wordcount',
                    'lists'
                ],
                toolbar: 'undo redo | formatselect | ' +
                    'bold italic backcolor | alignleft aligncenter ' +
                    'alignright alignjustify | bullist numlist outdent indent | ' +
                    'removeformat',
                content_style: 'body { font-family: -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif; font-size: 14px; -webkit-font-smoothing: antialiased; }'
            }
            if (localStorage.getItem("tablerTheme") === 'dark') {
                options.skin = 'oxide-dark';
                options.content_css = 'dark';
            }
            tinyMCE.init(options);
        })
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            let options = {
                selector: '#AppointmentDetail',
                height: 300,
                menubar: true,
                statusbar: false,
                plugins: [
                    'advlist autolink lists link image charmap print preview anchor',
                    'searchreplace visualblocks code fullscreen',
                    'insertdatetime media table paste code help wordcount',
                    'lists'
                ],
                toolbar: 'undo redo | formatselect | ' +
                    'bold italic backcolor | alignleft aligncenter ' +
                    'alignright alignjustify | bullist numlist outdent indent | ' +
                    'removeformat',
                content_style: 'body { font-family: -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif; font-size: 14px; -webkit-font-smoothing: antialiased; }'
            }
            if (localStorage.getItem("tablerTheme") === 'dark') {
                options.skin = 'oxide-dark';
                options.content_css = 'dark';
            }
            tinyMCE.init(options);
        })
    </script>
    <script type="text/javascript">
        $(function () {
            $(document).ready(function () {
                $("#TypeId").change(function () {
                    var value = $("#TypeId").val();
                                       
                    if (value == "D5AABE5F-FCAC-42C4-BFF7-A8585E8DB29D") { // It doesn't work over here.                       
                        $('#divRequestDetail').show();
                        $("#divAppointmentDetail").hide();
                        $("#DivRequestedDate").show();
                        $("#divServiceType").show();
                       // $("#divCasetype").show();
                       // $("#divDocType").show();
                       // $("#divQuestType").show();
                       // $("#DivDocumentFile").show();
                        $("#DivPriority").show();
                    } else if (value == "093F2484-6B94-47BB-9294-BA7995913F70") {
                        $('#divRequestDetail').hide();
                        $("#divAppointmentDetail").show();
                        $("#DivRequestedDate").hide();
                        $("#divServiceType").hide();
                      //  $("#divCasetype").hide();
                      //  $("#divDocType").hide();
                       // $("#divQuestType").hide();
                       // $("#DivDocumentFile").hide();
                        $("#DivPriority").hide();
                    }
                    else {
                        $("#divRequestDetail").hide();
                        $("#divAppointmentDetail").hide();
                        $("#DivRequestedDate").hide();
                        $("#divServiceType").hide();
                       // $("#divCasetype").hide();
                       // $("#divDocType").hide();
                        //$("#divQuestType").hide();
                        //$("#DivDocumentFile").hide();
                        $("#DivPriority").hide();                     
                    }
                });

                $("#ServiceTypeID").change(function () {
                    var value = $("#ServiceTypeID").val();
                   // alert(value);
                    if (value == "F935DCD1-2651-4C64-947C-0A877F652FB5" ||
                        value == "ACB92222-4872-4A9D-8EDB-8BCD5317129A" ||
                        value == "6E00B0EA-7B4D-40C4-8289-A566FE16E88E" ||
                        value == "92FC1FC5-95D2-4250-98FB-0BA862F6DB02" ||
                        value == "C792938C-7952-488C-A23E-1A27F8B2B8E6") {
                        $("#divDocType").show();
                        $("#divQuestType").show();
                        $("#DivDocumentFile").show();

                    }
                    else {
                        $("#divDocType").hide();
                        $("#divQuestType").hide();
                        $("#DivDocumentFile").hide();
                    }
                });

            });
        });
    </script>
}
