@model ATSManagementExternal.ViewModels.RepliesModel
@using ATSManagementExternal.Services;
@inject LanguageService _localization
@inject IHttpContextAccessor _context;
@inject AtsdbContext context;
@{
    IEnumerable<TblReplay> replyes = ViewData["Replies"] as IEnumerable<TblReplay>;
    var cultur = _context.HttpContext.Session.GetString("culture").ToString();
}

<style type="text/css">
    .table thead th {
        text-transform: capitalize !important;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: .825rem !important;
        font-weight: bolder;
    }

    /* Chat containers */
    .container_chat {
        border: 2px solid #dedede;
        background-color: #f1f1f1;
        border-radius: 5px;
        padding: 10px;
        margin: 10px 0;
    }

    /* Darker chat container */
    .darker {
        border-color: #ccc;
        background-color: #ddd;
    }

    /* Clear floats */
    .container_chat::after {
        content: "";
        clear: both;
        display: table;
    }

    /* Style images */
    .container_chat img {
        float: left;
        max-width: 60px;
        width: 100%;
        margin-right: 0px;
        border-radius: 50%;
    }

        /* Style the right image */
        .container_chat img.right {
            float: right;
            margin-left: 0px;
            margin-right: 0;
        }

    /* Style time text */
    .time-right {
        float: right;
        color: #aaa;
    }

    /* Style time text */
    .time-left {
        float: left;
        color: #999;
    }
</style>
<br />
<link href="https://cdn.datatables.net/v/dt/dt-1.13.6/datatables.min.css" rel="stylesheet">
<div class="page-wrapper">
    <!-- Page header -->
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">

                </div>
            </div>
        </div>
    </div>
    <!-- Page body -->
    <div class="page-body">
        <div class="container-xl">
            <div class="row row-cards">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h2 class="page-title">
                                @_localization.Getkey("replys")
                            </h2>
                        </div>
                        <form asp-action="Replies" method="post" enctype="multipart/form-data">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-10">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                        <input asp-for="RequestId" type="hidden" class="form-control" />
                                        <input asp-for="ExternalReplayedBy" type="hidden" class="form-control" />
                                        <div class="mb-3 row">
                                            <label asp-for="ReplayDetail" class="col-2 col-form-label">@_localization.Getkey("replys")</label>
                                            <div class="col">
                                                <input asp-for="ReplayDetail" class="form-control" />
                                                <span asp-validation-for="ReplayDetail" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label asp-for="ReplayDetail" class="col-2 col-form-label">@_localization.Getkey("date")</label>
                                            <div class="col">
                                                <input asp-for="ReplyDate" readonly class="form-control" />
                                                <span asp-validation-for="ReplyDate" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label asp-for="Attachement" class="col-2 col-form-label">@_localization.Getkey("Attachment")</label>
                                            <div class="col">
                                                <input asp-for="Attachement" type="file" class="form-file-button" />
                                                <span asp-validation-for="Attachement" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer text-end">
                                <div class="d-flex">
                                    <input type="submit" value="@_localization.Getkey("send")" class="btn btn-primary" />|
                                    <a asp-action="Index">@_localization.Getkey("back")</a>
                                </div>
                            </div>
                        </form>
                        <br />

                    </div>
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">@_localization.Getkey("replys")</h4>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                @foreach (var item in replyes)
                                {
                                    if (item.IsExternal == true)
                                    {
                                        <div class="col-12">
                                            <div class="row">
                                                <div class="col-md-6">

                                                </div>
                                                <div class="col-md-6">
                                                    <div class="container_chat">
                                                        <h5 class="time-right" style="color:dodgerblue">(You)</h5>
                                                        <br />
                                                        <p class="time-right">
                                                            @Html.Raw(@item.ReplayDetail)

                                                            @if (item.Attachment != null)
                                                            {
                                                                <a class="btn btn-primary time-right" asp-controller="DocumentViewer" asp-action="DocumentViewer" asp-route-path="@item.Attachment" asp-route-method="Replies" asp-route-methodController="ExternalRequests">@_localization.Getkey("view_file") </a>
                                                            }
                                                            <a class="dropdown-item time-right" asp-action="EditReplies" asp-route-ReplyId="@item.ReplyId">
                                                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-pencil-plus" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                                    <path d="M4 20h4l10.5 -10.5a2.828 2.828 0 1 0 -4 -4l-10.5 10.5v4"></path>
                                                                    <path d="M13.5 6.5l4 4"></path>
                                                                    <path d="M16 19h6"></path>
                                                                    <path d="M19 16v6"></path>
                                                                </svg>&nbsp;  @_localization.Getkey("edit")
                                                            </a>
                                                            <span class="time-right">@item.ReplyDate</span>
                                                            <br />
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    if (item.IsInternal == true)
                                    {
                                        var department = (from itesm in context.TblInternalUsers
                                                          join deps in context.TblDepartments on itesm.DepId equals deps.DepId
                                                          where itesm.UserId == item.InternalReplayedBy
                                                          select new
                                                          {
                                                              DepAmharic = deps.DepNameAmharic,
                                                              DepEnglish = deps.DepName
                                                          }).FirstOrDefault();
                                        <div class="col-12">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="container_chat">
                                                        @if (cultur == "am")
                                                        {
                                                            <h5 class="time-left" style="color:dodgerblue">
                                                                @department.DepAmharic
                                                                (
                                                                @item.InternalReplayedByNavigation.FirstName &nbsp; @item.InternalReplayedByNavigation.MidleName

                                                                )

                                                            </h5>
                                                        }
                                                        else
                                                        {
                                                            <h5 class="time-left" style="color:dodgerblue">

                                                                @department.DepEnglish (

                                                                @item.InternalReplayedByNavigation.FirstName &nbsp; @item.InternalReplayedByNavigation.MidleName

                                                                )

                                                            </h5>
                                                        }

                                                        <br />
                                                        <div class="time-left">
                                                            @Html.Raw(@item.ReplayDetail)
                                                            <br />
                                                            <span class="time-left">@item.ReplyDate</span>
                                                            @if (item.Attachment != null)
                                                            {
                                                                <a class="btn btn-primary time-right" asp-controller="DocumentViewer" asp-action="DocumentViewer" asp-route-path="@item.Attachment">@_localization.Getkey("view_file")</a>

                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">

                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://cdn.datatables.net/v/dt/dt-1.13.6/datatables.min.js"></script>
    <script type="text/javascript">
        new DataTable('#role', {
            deferRender: true,
            scrollCollapse: true,
            scroller: true,
        });
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            let options = {
                selector: '#ReplayDetail',
                height: 300,
                menubar: true,
                statusbar: false,
                plugins: [
                    'advlist autolink lists link image charmap print preview anchor',
                    'searchreplace visualblocks code fullscreen',
                    'insertdatetime media table paste code help wordcount',
                    'lists'
                ],
                toolbar: 'undo redo | formatselect | ' +
                    'bold italic backcolor | alignleft aligncenter ' +
                    'alignright alignjustify | bullist numlist outdent indent | ' +
                    'removeformat',
                content_style: 'body { font-family: -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif; font-size: 14px; -webkit-font-smoothing: antialiased; }'
            }
            if (localStorage.getItem("tablerTheme") === 'dark') {
                options.skin = 'oxide-dark';
                options.content_css = 'dark';
            }
            tinyMCE.init(options);
        })
    </script>
}
