@model ATSManagement.Models.TblCivilJustice
@using ATSManagement.Services;
@inject LanguageService _localization
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Delete";
}

<div class="page-wrapper">
    <!-- Page header -->
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <h2 class="page-title">
                        Requests
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <!-- Page body -->
    <div class="page-body">
        <div class="container-xl">
            <div class="row row-cards">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title btn-danger">Are you sure you want to delete this?</h4>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <dl class="row">
                                    <dt class="col-sm-2">
                                        <label asp-for="RequestDetail" class="col-form-label">Request detail</label>
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.Raw(Model.RequestDetail)
                                    </dd>
                                    <dt class="col-sm-2">
                                        <label asp-for="CreatedDate" class="col-form-label">Request Date</label>
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.CreatedDate)
                                    </dd>
                                    <dt class="col-sm-2">
                                        <label asp-for="CreatedBy" class="col-form-label">User</label>
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.CreatedByNavigation.FirstName)
                                        @Html.DisplayFor(model => model.CreatedByNavigation.MidleName)
                                    </dd>
                                    <dt class="col-sm-2">
                                        <label asp-for="AssignedDate" class="col-form-label">When did assigned to user</label>
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.AssignedDate)
                                    </dd>
                                    <dt class="col-sm-2">
                                        <label asp-for="DueDate" class="col-form-label">Due date</label>
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.DueDate)
                                    </dd>
                                    <dt class="col-sm-2">
                                        <label asp-for="DueDate" class="col-form-label">Assignment Remark</label>
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.AssingmentRemark)
                                    </dd>
                                    <dt class="col-sm-2">
                                        <label asp-for="DueDate" class="col-form-label">Progress status</label>

                                    </dt>
                                    <dd class="col-sm-10">
                                        <div class="col-sm-2">
                                            @if (Model.ExternalRequestStatusId != null)
                                            {
                                                @Html.Raw(Model.ExternalRequestStatus.StatusWithColor)
                                            }
                                        </div>
                                    </dd>

                                    <dt class="col-sm-2">
                                        <label asp-for="TopStatus" class="col-form-label">Final Status?</label>
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.TopStatus)
                                    </dd>
                                    <dt class="col-sm-2">
                                        <label asp-for="AssignedBy" class="col-form-label">Assigned by</label>
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.AssignedByNavigation.FirstName)
                                        @Html.DisplayFor(model => model.AssignedByNavigation.MidleName)
                                    </dd>
                                    <dt class="col-sm-2">
                                        <label asp-for="AssignedTo" class="col-form-label">Assigned to</label>
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.AssignedToNavigation.FirstName)
                                        @Html.DisplayFor(model => model.AssignedToNavigation.MidleName)
                                    </dd>
                                    <dt class="col-sm-2">
                                        <label asp-for="AssignedTo" class="col-form-label">Case type</label>
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.CaseType.CaseTypeName)
                                    </dd>
                                    <dt class="col-sm-2">
                                        <label asp-for="DepId" class="col-form-label">Department</label>
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.Dep.DepName)
                                    </dd>
                                    <dt class="col-sm-2">
                                        <label asp-for="DepId" class="col-form-label">Inistitution</label>
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.Inist.Name)
                                    </dd>
                                    <dt class="col-sm-2">
                                        <label asp-for="RequestedBy" class="col-form-label">Focal Person</label>
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.RequestedByNavigation.FirstName)
                                        @Html.DisplayFor(model => model.RequestedByNavigation.MiddleName)
                                    </dd>
                                    <dt class="col-sm-2">
                                        <label asp-for="UserUpprovalStatus" class="col-form-label">Team Upproval status</label>
                                    </dt>
                                    <dd class="col-sm-10">
                                        <div class="col-sm-2">
                                            @Html.Raw(Model.TeamUpprovalStatusNavigation.StatusWithColor)
                                        </div>
                                    </dd>
                                    <dt class="col-sm-2">
                                        <label asp-for="DepartmentUpprovalStatus" class="col-form-label">Department Upproval status</label>

                                    </dt>
                                    <dd class="col-sm-10">
                                        <div class="col-sm-2">
                                            @Html.Raw(Model.DepartmentUpprovalStatusNavigation.StatusWithColor)
                                        </div>
                                    </dd>
                                    <dt class="col-sm-2">
                                        <label asp-for="DeputyUprovalStatus" class="col-form-label">Deputy Upproval status</label>

                                    </dt>
                                    <dd class="col-sm-10">
                                        <div class="col-sm-2">
                                            @Html.Raw(Model.DeputyUprovalStatusNavigation.StatusWithColor)
                                        </div>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                        <div class="card-footer text-end">
                            <div class="d-flex">
                                <form asp-action="Delete">
                                    <input type="hidden" asp-for="RequestId" />
                                    <input type="submit" value="Delete" class="btn btn-danger" /> |
                                    <a asp-action="Index">Back to List</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


