@model IEnumerable<ATSManagement.Models.TblRequest>
@using ATSManagement.Services;
@inject LanguageService _localization
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject IHttpContextAccessor httpsSession;
@inject AtsdbContext ats;
@{
    ViewData["Title"] = _localization.Getkey("pending_requests");
    Guid userId = Guid.Parse(httpsSession.HttpContext.Session.GetString("userId"));
    var user = (from item in ats.TblInternalUsers where item.UserId == userId select item).FirstOrDefault();
}

<style type="text/css">
    .table thead th {
        text-transform: capitalize !important;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: .825rem !important;
        font-weight: bolder;
    }
</style>
<link href="https://cdn.datatables.net/v/dt/dt-1.13.6/datatables.min.css" rel="stylesheet">
<!-- Page header -->
<div class="page-header d-print-none">
    <div class="container-xl">
        <div class="row g-2 align-items-center">
            <div class="col">
                <h2 class="page-title">
                    @_localization.Getkey("pending_requests")
                </h2>
            </div>
        </div>
    </div>
</div>

<!-- Page body -->
<div class="page-body">
    <div class="container-xl">
        <div class="row row-cards">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <table class="table table-bordered" id="role">
                                <thead>
                                    <tr>
                                        <th>
                                            @_localization.Getkey("Detail")
                                        </th>
                                        <th>
                                            @_localization.Getkey("CreatedDate")
                                        </th>
                                        <th>
                                            @_localization.Getkey("assignmentDate")
                                        </th>
                                        <th>
                                            @_localization.Getkey("dueDate")
                                        </th>
                                        <th>
                                            @_localization.Getkey("assingment_remark")
                                        </th>
                                        <th>
                                            @_localization.Getkey("progress_status")
                                        </th>
                                        <th>
                                            @_localization.Getkey("priority")
                                        </th>
                                        <th>
                                            @_localization.Getkey("Team_Uproval")
                                        </th>
                                        <th>
                                            @_localization.Getkey("department_approval")
                                        </th>
                                        <th>
                                            @_localization.Getkey("Deputy_aproval")
                                        </th>
                                        <th>
                                            @_localization.Getkey("final_status")
                                        </th>
                                        <th>
                                            @_localization.Getkey("Assigned_by")
                                        </th>
                                        <th>
                                            @_localization.Getkey("Assigned_to")
                                        </th>
                                        <th>
                                            @_localization.Getkey("department")
                                        </th>
                                        <th>
                                            @_localization.Getkey("institution")
                                        </th>
                                        <th>
                                            @_localization.Getkey("external_users")
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        // var isRequest = (from items in ats.TblCivilJustices where items.RequestId == item.RequestId select items).FirstOrDefault();
                                        var assigneess = (from users in ats.TblRequestAssignees where users.RequestId == item.RequestId select users.User).ToList();

                                        <tr>
                                            <td>
                                                @Html.Raw(item.RequestDetail)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CreatedDate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.AssignedDate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.DueDate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.AssingmentRemark)
                                            </td>
                                            <td>
                                                @Html.Raw(item.ExternalRequestStatus.StatusWithColor)
                                            </td>
                                            <td>
                                                @if (item.PriorityId != null)
                                                {
                                                    @Html.Raw(item.Priority.PriorityNameWithColor)
                                                }
                                            </td>
                                            <td>
                                                @Html.Raw(item.TeamUpprovalStatusNavigation.StatusWithColor)
                                            </td>
                                            <td>
                                                @Html.Raw(item.DepartmentUpprovalStatusNavigation.StatusWithColor)
                                            </td>
                                            <td>
                                                @Html.Raw(item.DeputyUprovalStatusNavigation.StatusWithColor)
                                            </td>
                                            <td>
                                                @if (item.TopStatus != null)
                                                {
                                                    @Html.Raw(item.TopStatus.StatusName)
                                                }
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.AssignedByNavigation.FirstName)
                                                @Html.DisplayFor(modelItem => item.AssignedByNavigation.MidleName)
                                            </td>
                                            <td>
                                                @if (assigneess != null)
                                                {
                                                    foreach (var assignees in assigneess)
                                                    {
                                                        @Html.DisplayFor(modelItem => assignees.FirstName)
                                                        @Html.DisplayFor(modelItem => assignees.MidleName)
                                                    }
                                                }
                                            </td>
                                            <td>
                                                <label>Civil Justice Administration</label>
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Inist.Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.RequestedByNavigation.FirstName)
                                                @Html.DisplayFor(modelItem => item.RequestedByNavigation.MiddleName)
                                            </td>
                                            <td>
                                                <div class="btn-list flex-nowrap">
                                                    <div class="dropdown">
                                                        <button class="btn dropdown-toggle align-text-top" data-bs-toggle="dropdown">
                                                            Actions
                                                        </button>
                                                        <div class="dropdown-menu dropdown-menu-end">

                                                            @if (user.IsDeputy == true || user.IsSuperAdmin == true || user.IsDepartmentHead == true || user.IsTeamLeader == true)
                                                            {
                                                                <a class="dropdown-item" asp-action="Replies" asp-route-id="@item.RequestId">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M10 16l-6-6 6-6" /><path d="M20 21v-7a4 4 0 0 0-4-4H5" /></svg>&nbsp;
                                                                    @_localization.Getkey("replies")
                                                                </a>
                                                                <a class="dropdown-item" asp-action="UppdateDesicionStatus" asp-route-id="@item.RequestId">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-check-filled" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                                        <path d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z" stroke-width="0" fill="currentColor"></path>
                                                                    </svg>&nbsp;
                                                                    @_localization.Getkey("Uppdate_progress_status")
                                                                </a>
                                                                <a class="dropdown-item" asp-action="RequestActivities" asp-route-id="@item.RequestId">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-list-details" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                                        <path d="M13 5h8"></path>
                                                                        <path d="M13 9h5"></path>
                                                                        <path d="M13 15h8"></path>
                                                                        <path d="M13 19h5"></path>
                                                                        <path d="M3 4m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z"></path>
                                                                        <path d="M3 14m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z"></path>
                                                                    </svg> &nbsp;@_localization.Getkey("Progress_Activities")
                                                                </a>
                                                                <a class="dropdown-item" asp-action="RequestAdjornies" asp-route-id="@item.RequestId">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-list-details" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                                        <path d="M13 5h8"></path>
                                                                        <path d="M13 9h5"></path>
                                                                        <path d="M13 15h8"></path>
                                                                        <path d="M13 19h5"></path>
                                                                        <path d="M3 4m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z"></path>
                                                                        <path d="M3 14m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z"></path>
                                                                    </svg> &nbsp;@_localization.Getkey("adjournment")
                                                                </a>
                                                                <a class="dropdown-item" asp-action="WitnessesandEvidences" asp-route-id="@item.RequestId">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-list-details" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                                        <path d="M13 5h8"></path>
                                                                        <path d="M13 9h5"></path>
                                                                        <path d="M13 15h8"></path>
                                                                        <path d="M13 19h5"></path>
                                                                        <path d="M3 4m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z"></path>
                                                                        <path d="M3 14m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z"></path>
                                                                    </svg> &nbsp;@_localization.Getkey("Witnesses_and_Evidences")
                                                                </a>
                                                                <a class="dropdown-item" asp-action="Details" asp-route-id="@item.RequestId">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-list-details" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                                        <path d="M13 5h8"></path>
                                                                        <path d="M13 9h5"></path>
                                                                        <path d="M13 15h8"></path>
                                                                        <path d="M13 19h5"></path>
                                                                        <path d="M3 4m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z"></path>
                                                                        <path d="M3 14m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z"></path>
                                                                    </svg> &nbsp;@_localization.Getkey("Detail")
                                                                </a>
                                                            }


                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{

    <script src="https://cdn.datatables.net/v/dt/dt-1.13.6/datatables.min.js"></script>
    <script type="text/javascript">
        new DataTable('#role', {
            deferRender: true,
            scrollCollapse: true,
            scroller: true,
        });
    </script>
    <script type="text/javascript">
        var dp = $("#Date").datepicker({
            format: "dd/mm/yyyy",
            viewMode: "years",
            minViewMode: "years",
            autoclose: true
        });
        dp.on('changeDate', function (e) {
            $(this).datepicker("setDate", new Date(e.date.getFullYear() + 1, e.date.getMonth(), 0))
        });
    </script>
}
