@model ATSManagement.Models.TblAppointment

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TblAppointment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AppointmentDetail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AppointmentDetail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescusionFinalComeup)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescusionFinalComeup)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AppointmentDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AppointmentDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Inist)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Inist.InistId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestedByNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestedByNavigation.ExterUserId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AppointmentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
