@model ATSManagement.Models.TblDraftContractExaminationReport

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TblDraftContractExaminationReport</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuestionSubmitter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuestionSubmitter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaseType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaseType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FullMoneyAmmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullMoneyAmmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Investigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Investigation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Month)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Month.MonthId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubmittedByNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubmittedByNavigation.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year.YearId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
