@model ATSManagement.Models.TblPlanCatagory

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TblPlanCatagory</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CatTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CatTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CatDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CatDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InspectionPlan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InspectionPlan.InspectionPlanId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PlanCatId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
