@model ATSManagementExternal.ViewModels.ContactModel
@using ATSManagementExternal.Services;
@inject LanguageService _localization
@inject IHttpContextAccessor _context;
@{
}
<style>
    @@media only screen and (max-width : 960px){
        .mb-3row  {
            display: flow !important;
        }
        .mb-3rowlabel {
            width:100% !important;

        }
    }
</style>
<br />
<div class="page-wrapper">
    <!-- Page header -->
    <!-- Page body -->
    <div class="page-body">
        <div class="container-xl">
            <div class="row row-cards">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h2 class="page-title">
                                @_localization.Getkey("contact_us")  
                            </h2>
                        </div>
                        <form asp-action="ContactUs" method="post" enctype="multipart/form-data">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="mb-3 row mb-3row" id="divAppointmentDetail">
                                            <label asp-for="FullName" class="mb-3rowlabel col-3 col-form-label">@_localization.Getkey("full_Name") </label>
                                            <div class="col">
                                                <input asp-for="FullName" required class="form-control" />
                                                <span asp-validation-for="FullName" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="mb-3 row mb-3row" id="divAppointmentDetail">
                                            <label asp-for="ContactPhoneNumber" class="mb-3rowlabel col-3 col-form-label">@_localization.Getkey("Phone_Number") </label>
                                            <div class="col">
                                                <input asp-for="ContactPhoneNumber" required class="form-control" />
                                                <span asp-validation-for="ContactPhoneNumber" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="mb-3 row mb-3row" id="divAppointmentDetail">
                                            <label asp-for="ContactEmail" class="mb-3rowlabel col-3 col-form-label">@_localization.Getkey("Email_Address") </label>
                                            <div class="col">
                                                <input asp-for="ContactEmail" required class="form-control" />
                                                <span asp-validation-for="ContactEmail" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="mb-3 row mb-3row" id="divCountry">
                                            <label asp-for="ContactCountry" class="mb-3rowlabel col-3 col-form-label"> @_localization.Getkey("Country") </label>
                                            <div class="col">
                                                <input asp-for="ContactCountry" required class="form-control" />
                                                <span asp-validation-for="ContactCountry" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="mb-3 row mb-3row" id="divAppointmentDetail">
                                            <label asp-for="formFile" class="mb-3rowlabel col-3 col-form-label">@_localization.Getkey("files") </label>
                                            <div class="col">
                                                <input asp-for="formFile" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">                                       
                                        <div class="mb-3 row mb-3row" id="divAppointmentDetail">
                                            <label asp-for="ContactDetaiMessage" class="mb-3rowlabel col-2 col-form-label">@_localization.Getkey("message")  </label>
                                            <div class="col">
                                                <input asp-for="ContactDetaiMessage" required class="form-control" />
                                                <span asp-validation-for="ContactDetaiMessage" class="text-danger"></span>
                                            </div>
                                        </div>    
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer text-end">
                                <div class="d-flex">
                                    <button type="submit" value="Save" class="btn btn-secondary">@_localization.Getkey("send")</button>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br />
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            let options = {
                selector: '#ContactDetaiMessage',
                height: 300,
                menubar: true,
                statusbar: false,
                plugins: [
                    'advlist autolink lists link image charmap print preview anchor',
                    'searchreplace visualblocks code fullscreen',
                    'insertdatetime media table paste code help wordcount',
                    'lists'
                ],
                toolbar: 'undo redo | formatselect | ' +
                    'bold italic backcolor | alignleft aligncenter ' +
                    'alignright alignjustify | bullist numlist outdent indent | ' +
                    'removeformat',
                content_style: 'body { font-family: -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif; font-size: 14px; -webkit-font-smoothing: antialiased; }'
            }
            if (localStorage.getItem("tablerTheme") === 'dark') {
                options.skin = 'oxide-dark';
                options.content_css = 'dark';
            }
            tinyMCE.init(options);
        })
    </script>

}
