@using Newtonsoft.Json;
@using ATSManagementExternal.ViewModels;
@using Microsoft.AspNetCore.Http;
@using ATSManagementExternal.Services;
@model ATSManagementExternal.ViewModels.ContactModel;
@inject LanguageService _localization
@inject IHttpContextAccessor _context;
@{
    ViewData["Title"] = "Task Tracking Dashboard";
}

<section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="500">
        <h1>@_localization.Getkey("welcome_one")</h1>
        <h2>@_localization.Getkey("welcome_two")</h2>
        <a href="#about" class="btn-get-started scrollto">@_localization.Getkey("Get_Started")</a>
    </div>
</section>
<section id="about" class="about" style="background: #f6f9fd">
    <div class="container" style="background:#fff">

        <div class="row">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left">
                <img src="assets/img/Temoty.jpeg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">
                <h3>@_localization.Getkey("minister_message")  </h3>
                <p class="fst-italic">
                    @_localization.Getkey("temoty_message")
                </p>
                <ul>
                    <li>
                        <i class="bi bi-check-circle"></i>
                        @_localization.Getkey("paragraph_one")
                    </li>
                    <li><i class="bi bi-check-circle"></i> @_localization.Getkey("paragraph_two")</li>
                    <li><i class="bi bi-check-circle"></i> @_localization.Getkey("paragraph_three")</li>
                </ul>
                <a asp-action="ReadMore" asp-controller="Home" class="btn-get-started scrollto">@_localization.Getkey("read_more")</a>
            </div>
        </div>
    </div>
</section>
<section id="why-us" class="why-us" style="background: #f6f9fd">
    <div class="container" style="background:#fff">
        <div class="section-title">
            <span> @_localization.Getkey("values_vision_mission")</span>
            <h2>@_localization.Getkey("values_vision_mission")</h2>
            <p>@_localization.Getkey("values_vision_mission")</p>
        </div>
        <div class="row">
            <div class="col-lg-4" data-aos="fade-up">
                <div class="box text-center">
                    <span>@_localization.Getkey("vision")</span>
                    <p>@_localization.Getkey("vision_detail")</p>
                </div>
            </div>

            <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="150">
                <div class="box text-center">
                    <span>@_localization.Getkey("Mission")</span>
                    <p>@_localization.Getkey("mission_detail")</p>
                </div>
            </div>

            <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
                <div class="box text-center">
                    <span>@_localization.Getkey("Values")</span>
                    <p>
                        @_localization.Getkey("values_detail")
                    </p>
                </div>
            </div>

        </div>

    </div>
</section>
<section id="services" class="services" style="background: #f6f9fd">
    <div class="container" style="background:#fff">

        <div class="section-title">
            <span>@_localization.Getkey("our_services")</span>
            <h2>@_localization.Getkey("our_services")</h2>
            <p>@_localization.Getkey("our_services")</p>
        </div>
        <div class="row">

            <div class="col-lg-6 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="150">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-file"></i></div>
                    <h4><a href="">@_localization.Getkey("Contract_Negotation")</a></h4>
                    <p>@Html.Raw(@_localization.Getkey("contract_Negotiation_description"))</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="600">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-slideshow"></i></div>
                    <h4><a href="">@_localization.Getkey("alternativ_disputes")</a></h4>
                    <p>@Html.Raw(@_localization.Getkey("alternativ_disputes_description"))</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="600">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-slideshow"></i></div>
                    <h4><a href="">@_localization.Getkey("desicion")</a></h4>
                    <p>@Html.Raw(@_localization.Getkey("desicion_descrption"))</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="450">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-world"></i></div>
                    <h4><a href="">@_localization.Getkey("International_Cases")</a></h4>
                    <p> @Html.Raw(@_localization.Getkey("International_Cases_description"))</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="600">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-slideshow"></i></div>
                    <h4><a href="">@_localization.Getkey("commenting")</a></h4>
                    <p>@Html.Raw(@_localization.Getkey("commenting_description"))</p>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="600">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-slideshow"></i></div>
                    <h4><a href="">@_localization.Getkey("registration")</a></h4>
                    <p>@Html.Raw(@_localization.Getkey("registration_description"))</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="600">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-slideshow"></i></div>
                    <h4><a href="">@_localization.Getkey("Legal_Advices")</a></h4>
                    <p>@Html.Raw(@_localization.Getkey("legal_advice_description"))</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="600">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-slideshow"></i></div>
                    <h4><a href="">@_localization.Getkey("legal_drafting")</a></h4>
                    <p>@Html.Raw(@_localization.Getkey("legal_drafting_description"))</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                <div class="icon-box">
                    <div class="icon"><i class="bx bxl-dribbble"></i></div>
                    <h4><a href="">@_localization.Getkey("litigations")</a></h4>
                    <p>@Html.Raw(@_localization.Getkey("litigation_description"))</p>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-tachometer"></i></div>
                    <h4><a href="">@_localization.Getkey("Inspection_Followup")</a></h4>
                    <p>@Html.Raw(@_localization.Getkey("Inspection_Followup_description"))</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="750">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-arch"></i></div>
                    <h4><a asp-controller="Recomendations" asp-action="Index">@Html.Raw(@_localization.Getkey("recomendations"))</a></h4>
                    <p>@Html.Raw(@_localization.Getkey("registration_description"))</p>
                </div>
            </div>



        </div>

    </div>
</section>
<section id="cta" class="cta">
    <div class="container" data-aos="zoom-in">
        <div class="text-center" style="color: #f90202">
            <h3>“ለሕግ፣ ለፍትህ፣ ለርትዕ ”</h3>
            <p> “Endangering human life for profit should be a universal crime.”</p>
            
        </div>
    </div>
</section>

<section id="contact" class="contact" style="background: #f6f9fd">
    <div class="container" style="background:#fff">
        <div class="section-title">
            <span>@_localization.Getkey("contact_us")</span>
            <h2>@_localization.Getkey("contact_us")</h2>
        </div>
        <div class="row" data-aos="fade-up">
            <div class="col-lg-6">
                <div class="info-box mb-4">
                    <i class="bx bx-map"></i>
                    <h3>@_localization.Getkey("our_address") </h3>
                    <p>
                        Bambis, Jomo Kenyatta Avenue,Addis Ababa, Ethiopia
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="info-box  mb-4">
                    <i class="bx bx-envelope"></i>
                    <h3>@_localization.Getkey("email_us")</h3>
                    <p>info@eag.gov.et</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="info-box  mb-4">
                    <i class="bx bx-phone-call"></i>
                    <h3>@_localization.Getkey("call_us")</h3>
                    <p>011 551 5099</p>
                </div>
            </div>
        </div>
        <div class="row" data-aos="fade-up">
            <div class="col-lg-6 ">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9779.61472386125!2d38.77354496253109!3d9.01080342749606!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x164b85a38740d5d5%3A0x92367e5d57439f85!2sMinistry%20of%20JUSTICE!5e1!3m2!1sen!2set!4v1706343251395!5m2!1sen!2set" style="border:0; width: 100%; height: 384px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="col-lg-6">
                <form asp-action="Index" method="post" role="form" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <input type="text" class="form-control" asp-for="ContactPhoneNumber" id="subject" placeholder="@_localization.Getkey("Phone_Number")" required>
                        </div>
                        <div class="col-md-6 form-group mt-3 mt-md-0">
                            <input type="email" class="form-control" asp-for="ContactEmail" id="email" placeholder="@_localization.Getkey("Email_Address")" required>
                        </div>
                    </div>
                    <div class="form-group mt-3">                           
                        <input type="text" asp-for="ContactCountry" class="form-control" id="name" placeholder="@_localization.Getkey("Country")" required>
                    </div>
                    <div class="form-group mt-3">
                        <textarea class="form-control" asp-for="ContactDetaiMessage"  rows="5" placeholder="@_localization.Getkey("message")" required></textarea>
                    </div>
                    <div class="form-group mt-3">
                        <input asp-for="formFile" class="form-control" />
                    </div>
                    <div class="form-group mt-3"><input type="submit" class="btn btn-secondary" value="@_localization.Getkey("send")"/></div>
                </form>
            </div>
        </div>
    </div>
</section><!-- End Contact Section -->
