@using Newtonsoft.Json;
@using ATSManagementExternal.ViewModels;
@using Microsoft.AspNetCore.Http;
@using ATSManagementExternal.Services;
@inject LanguageService _localization
@inject IHttpContextAccessor _context;
@{
    ViewData["Title"] = "Task Tracking Dashboard";
}

<!-- Page header -->
<div class="page-header d-print-none">
    <div class="container-xl">
        <div class="row g-2 align-items-center">
            <div class="col">
                <h2 class="page-title">
                    @_localization.Getkey("our_services")
                </h2>
            </div>
        </div>
    </div>
</div>
<!-- Page body -->
<div class="page-body">
    <div class="container-xl">
        <div class="card">
            <div class="card-body">
                <div class="accordion" id="accordion-example">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading-2">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-2" aria-expanded="false">
                                @_localization.Getkey("Mission_Vision")
                            </button>
                        </h2>
                        <div id="collapse-2" class="accordion-collapse collapse" data-bs-parent="#accordion-example">
                            <div class="accordion-body pt-0">
                                @Html.Raw(@_localization.Getkey("Mission_Vision_Detail"))
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading-3">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-3" aria-expanded="false">
                                @_localization.Getkey("Mandates")
                            </button>
                        </h2>
                        <div id="collapse-3" class="accordion-collapse collapse" data-bs-parent="#accordion-example">
                            <div class="accordion-body pt-0">
                                @Html.Raw(@_localization.Getkey("Mandates_Description"))
                            </div>
                           
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading-4">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-4" aria-expanded="false">
                                @_localization.Getkey("Attorney_General_Message")
                            </button>
                        </h2>
                        <div id="collapse-4" class="accordion-collapse collapse" data-bs-parent="#accordion-example">
                            <div class="accordion-body pt-0">
                                @Html.Raw(@_localization.Getkey("Attorney_General_Message_Description"))
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="page-wrapper">
    <!-- Page header -->
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <h2 class="page-title">
                        @_localization.Getkey("our_services")
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <!-- Page body -->
    <div class="page-body">
        <div class="container-xl">
            <div class="row row-cards">

                <div class="col-md-6 col-lg-4">
                    <div class="card">
                        <div class="card-stamp">
                            <div class="card-stamp-icon bg-yellow">
                                <!-- Download SVG icon from http://tabler-icons.io/i/bell -->
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M10 5a2 2 0 1 1 4 0a7 7 0 0 1 4 6v3a4 4 0 0 0 2 3h-16a4 4 0 0 0 2 -3v-3a7 7 0 0 1 4 -6" /><path d="M9 17v1a3 3 0 0 0 6 0v-1" /></svg>
                            </div>
                        </div>
                        <div class="card-header">
                            <h3 class="card-title"> @_localization.Getkey("Legal_Advices")</h3>
                        </div>
                        <div class="card-body">

                            <p class="text-muted"> @Html.Raw(@_localization.Getkey("legal_advice_description"))</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4">
                    <div class="card">
                        <div class="card-status-top bg-danger"></div>
                        <div class="card-header">
                            <h3 class="card-title"> @_localization.Getkey("litigations")</h3>
                        </div>
                        <div class="card-body">

                            <p class="text-muted">
                                @Html.Raw(@_localization.Getkey("litigation_description"))
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="card">
                        <div class="card-status-bottom bg-success"></div>
                        <div class="card-header">
                            <h3 class="card-title"> @_localization.Getkey("Contract_Negotation")</h3>
                        </div>
                        <div class="card-body">

                            <p class="text-muted">
                                @Html.Raw(@_localization.Getkey("contract_Negotiation_description"))
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="card">
                        <div class="card-status-start bg-primary"></div>
                        <div class="card-header">
                            <h3 class="card-title"> @_localization.Getkey("Inspection_Followup")</h3>
                        </div>
                        <div class="card-body">

                            <p class="text-muted">
                                @Html.Raw(@_localization.Getkey("Inspection_Followup_description"))
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="card">
                        <div class="ribbon ribbon-top bg-yellow">
                            <!-- Download SVG icon from http://tabler-icons.io/i/star -->
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z" /></svg>
                        </div>
                        <div class="card-header">
                            <h3 class="card-title">  @_localization.Getkey("International_Cases")</h3>
                        </div>
                        <div class="card-body">

                            <p class="text-muted">
                                @Html.Raw(@_localization.Getkey("International_Cases_description"))
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="card bg-primary-lt">
                        <div class="card-header">
                            <h3 class="card-title"> @_localization.Getkey("registration")</h3>
                        </div>
                        <div class="card-body">

                            <p class="text-muted"> @Html.Raw(@_localization.Getkey("registration_description"))</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="card bg-primary text-primary-fg">
                        <div class="card-stamp">
                            <div class="card-stamp-icon bg-white text-primary">
                                <!-- Download SVG icon from http://tabler-icons.io/i/star -->
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z" /></svg>
                            </div>
                        </div>
                        <div class="card-header">
                            <h3 class="card-title">@_localization.Getkey("commenting")</h3>
                        </div>
                        <div class="card-body">

                            <p> @Html.Raw(@_localization.Getkey("commenting_description"))</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


