@model ATSManagement.Models.TblRecomendation

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TblRecomendation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Recomendation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Recomendation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Recostatus.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Recostatus.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EvaluationYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EvaluationYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatinDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatinDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifyDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifyDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Inist)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Inist.InistId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="RecoId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
