@model ATSManagement.ViewModels.SubmenuModel
@using ATSManagement.Services;
@inject LanguageService _localization
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = @_localization.Getkey("submenus");
}

<div class="page-wrapper">
    <!-- Page header -->
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <h2 class="page-title">
                        @_localization.Getkey("submenus")
                    </h2>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12">
        <div class="card">
            <div class="card-header">
            </div>
            <form asp-action="Create">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="mb-3 row">
                                <label asp-for="SubMenuName" class="col-3 col-form-label">@_localization.Getkey("name")</label>
                                <div class="col">
                                    <input asp-for="SubMenuName" class="form-control" />
                                    <span asp-validation-for="SubMenuName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label asp-for="SubmenuAmharic" class="col-3 col-form-label">@_localization.Getkey("name_amharic")</label>
                                <div class="col">
                                    <input asp-for="SubmenuAmharic" class="form-control" />
                                    <span asp-validation-for="SubmenuAmharic" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label asp-for="ControllerName" class="col-3 col-form-label">Controller</label>
                                <div class="col">
                                    <input asp-for="ControllerName" class="form-control" />
                                    <span asp-validation-for="ControllerName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label asp-for="ActionName" class="col-3 col-form-label">Action</label>
                                <div class="col">
                                    <input asp-for="ActionName" class="form-control" />
                                    <span asp-validation-for="ActionName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label asp-for="MainMenuId" class="col-3 col-form-label">@_localization.Getkey("main_menu")</label>
                                <div class="col">
                                    @Html.DropDownListFor(model => model.MainMenuId, new SelectList(Model.MainMenus, "Value", "Text"), "--Select here--", htmlAttributes: new { @class = "form-select" })
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label asp-for="DepId" class="col-3 col-form-label">@_localization.Getkey("department")</label>
                                <div class="col">
                                    @Html.DropDownListFor(model => model.DepId, new SelectList(Model.Departments, "Value", "Text"), "--Select here--", htmlAttributes: new { @class = "form-select" })
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label asp-for="forSuperAdmin" class="col-3 col-form-label">For system administrator</label>
                                <div class="col">
                                    <input asp-for="forSuperAdmin" type="checkbox" class="form-check-input m-0" />
                                    <span asp-validation-for="forSuperAdmin" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label asp-for="forDeputy" class="col-3 col-form-label">For deputy</label>
                                <div class="col">
                                    <input asp-for="forDeputy" type="checkbox" class="form-check-input m-0" />
                                    <span asp-validation-for="forDeputy" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label asp-for="forDepHead" class="col-3 col-form-label">For department head</label>
                                <div class="col">
                                    <input asp-for="forDepHead" type="checkbox" class="form-check-input m-0" />
                                    <span asp-validation-for="forDepHead" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label asp-for="forTeamLeader" class="col-3 col-form-label">For team leader</label>
                                <div class="col">
                                    <input asp-for="forTeamLeader" type="checkbox" class="form-check-input m-0" />
                                    <span asp-validation-for="forTeamLeader" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label asp-for="forSecretary" class="col-3 col-form-label">For secretary</label>
                                <div class="col">
                                    <input asp-for="forSecretary" type="checkbox" class="form-check-input m-0" />
                                    <span asp-validation-for="forSecretary" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label asp-for="forInternalUser" class="col-3 col-form-label">For Internal User</label>
                                <div class="col">
                                    <input asp-for="forInternalUser" type="checkbox" class="form-check-input m-0" />
                                    <span asp-validation-for="forInternalUser" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label asp-for="forBranchOfficer" class="col-3 col-form-label">For branch office expert</label>
                                <div class="col">
                                    <input asp-for="forBranchOfficer" type="checkbox" class="form-check-input m-0" />
                                    <span asp-validation-for="forBranchOfficer" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label asp-for="forDefaulUser" class="col-3 col-form-label">For Expert</label>
                                <div class="col">
                                    <input asp-for="forDefaulUser" type="checkbox" class="form-check-input m-0" />
                                    <span asp-validation-for="forDefaulUser" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-end">
                    <div class="d-flex">
                        <input type="submit" value="@_localization.Getkey("save")" class="btn btn-primary" />|
                        <a asp-action="Index">@_localization.Getkey("backlist")</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
