@model ATSManagement.Models.TblSubmenu

@{
    ViewData["Title"] = "Delete";
}

<div class="page-wrapper">
    <!-- Page header -->
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <h2 class="page-title">
                        Sub Menus
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <!-- Page body -->
    <div class="page-body">
        <div class="container-xl">
            <div class="row row-cards">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Are you sure you want to delete this?</h4>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <dl class="row">
                                    <dt class="col-sm-2">
                                        <label asp-for="Submenu" class="col-form-label-lg">Title</label>
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.Submenu)
                                    </dd>
                                    <dt class="col-sm-2">
                                        <label asp-for="Controller" class="col-form-label-lg">Controller</label>

                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.Controller)
                                    </dd>
                                    <dt class="col-sm-2">
                                        <label asp-for="Action" class="col-form-label-lg">Action</label>

                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.Action)
                                    </dd>
                                    <dt class="col-sm-2">
                                        <label asp-for="IsActive" class="col-form-label-lg">IsActive?</label>
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.IsActive)
                                    </dd>
                                    <dt class="col-sm-2">
                                        <label asp-for="DepId" class="col-form-label-lg">Department:</label>
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.Dep.DepName)
                                    </dd>
                                    <dt class="col-sm-2">
                                        <label asp-for="MenuId" class="col-form-label-lg">Action</label>
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.Menu.MenuName)
                                    </dd>
                                </dl>
                            </div>
                        </div>
                        <div class="card-footer text-end">
                            <div class="d-flex">
                                <form asp-action="Delete">
                                    <input type="hidden" asp-for="Id" />
                                    <input type="submit" value="Delete" class="btn btn-danger" /> |
                                    <a asp-action="Index">Back to List</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>


