@model ATSManagement.ViewModels.LoginModels
@using ATSManagement.Services;
@inject LanguageService _localization
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = @_localization.Getkey("users") + " Create";
}

<div class="page-wrapper">
    <!-- Page header -->
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <h2 class="page-title">
                        @_localization.Getkey("users")
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <!-- Page body -->
    <div class="page-body">
        <div class="container-xl">
            <div class="row row-cards">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                        </div>
                        <form asp-action="ChangePassword">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <input type="hidden" asp-for="UserId" />
                                        <div class="mb-3 row">
                                            <label asp-for="Password" class="col-3 col-form-label">@_localization.Getkey("old_password")</label>
                                            <div class="col">
                                                <input asp-for="Password" required class="form-control" />
                                                <span asp-validation-for="Password" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label asp-for="NewPassword" class="col-3 col-form-label">@_localization.Getkey("new_password")</label>
                                            <div class="col">
                                                <input asp-for="NewPassword" required class="form-control" />
                                                <span asp-validation-for="NewPassword" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label asp-for="ConfirmPassword" class="col-3 col-form-label">@_localization.Getkey("confirm_password") </label>
                                            <div class="col">
                                                <input asp-for="ConfirmPassword" required class="form-control" />
                                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer text-end">
                                <div class="d-flex">
                                    <input type="submit" value="@_localization.Getkey("save")" class="btn btn-primary" />|
                                    <a asp-action="Index">@_localization.Getkey("backlist")</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts { 
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
  
}
