@model ATSManagement.Models.TblLegalAdviceReport

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TblLegalAdviceReport</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdNavigation.ServantTypeName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdNavigation.ServantTypeName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Investigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Investigation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MonthNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MonthNavigation.MonthId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReportedByNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReportedByNavigation.UserId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.YearNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.YearNavigation.YearId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ReportId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
