@model ATSManagement.Models.TblTeam
@using ATSManagement.Services;
@inject LanguageService _localization
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = @_localization.Getkey("teams")+" Create";
}

<div class="page-wrapper">
    <!-- Page header -->
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <h2 class="page-title">
                        @_localization.Getkey("teams")
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <!-- Page body -->
    <div class="page-body">
        <div class="container-xl">
            <div class="row row-cards">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">@_localization.Getkey("Create")</h4>
                        </div>
                        <form asp-action="Create">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <div class="mb-4 row">
                                            <label asp-for="TeamName" class="col-3 col-form-label">@_localization.Getkey("team_name")</label>
                                            <div class="col">
                                                <input asp-for="TeamName" class="form-control" />
                                                <span asp-validation-for="TeamName" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="mb-4 row">
                                            <label asp-for="TeamNameAmharic" class="col-3 col-form-label">@_localization.Getkey("team_name_amharic")</label>
                                            <div class="col">
                                                <input asp-for="TeamNameAmharic" class="form-control" />
                                                <span asp-validation-for="TeamNameAmharic" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="mb-4 row">
                                            <label asp-for="DepId" class="col-3 col-form-label">  @_localization.Getkey("department")</label>
                                            <div class="col">
                                                <select asp-for="DepId" class="form-control" asp-items="ViewBag.DepId"></select>
                                            </div>
                                        </div>
                                        <div class="mb-4 row">
                                            <label asp-for="DepId" class="col-3 col-form-label">@_localization.Getkey("Description")</label>
                                            <div class="col">
                                                <input asp-for="TeamDescription" class="form-control" />
                                                <span asp-validation-for="TeamDescription" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer text-end">
                                <div class="d-flex">
                                    <input type="submit" value="@_localization.Getkey("save")" class="btn btn-primary" />|
                                    <a asp-action="Index">@_localization.Getkey("backlist")</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/2.3.2/js/bootstrap.min.js"></script>


}
}

