@model ATSManagementExternal.Models.TblInspectionPlan

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TblInspectionPlan</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlanTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlanTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlanDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlanDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModificationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModificationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssigningRemark)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssigningRemark)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsAssignedToUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsAssignedToUser)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsUprovedByDeputy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsUprovedByDeputy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsUpprovedbyTeam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsUpprovedbyTeam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsUpprovedbyDepartment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsUpprovedbyDepartment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FinalReport)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FinalReport)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FinalStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FinalStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SendingRemark)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SendingRemark)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReturningRemark)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReturningRemark)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsSenttoInst)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsSenttoInst)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsReturned)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsReturned)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SentReport)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SentReport)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsAssignedTeam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsAssignedTeam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReturnDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReturnDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SentDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SentDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssigneeType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssigneeType.AssigneeTypeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pro.ProId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Team)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Team.TeamId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year.YearId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.InspectionPlanId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
