@model ATSManagement.Models.TblCivilJusticeRequestReply

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TblCivilJusticeRequestReply</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReplayDetail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReplayDetail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReplyDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReplyDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExternalReplayedByNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExternalReplayedByNavigation.ExterUserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InternalReplayedByNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InternalReplayedByNavigation.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Request)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Request.RequestId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ReplyId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
